{% extends 'layout/main.html' %}
{% block content %}
    <div class="col-lg-12">
        <div class="row page-header" style="padding-bottom: 0;">
            <div class="col-md-6">
                <h2 class="">
                   {{ title }}
                </h2>
            </div>
            <div class="col-md-6" style="padding-top: 15px;text-align: right;">
                <a class="btn btn-primary " href="/admin/add-car">Add car</a>
            </div>
        </div>
        <div class="row" style="margin-bottom: 5px;">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                  <li {% if type == 'all' %}class="active" {% endif %}><a href="/admin/car/all"><i class="fa fa-car"></i> All</a></li>
                  <li {% if type == 'pending' %}class="active" {% endif %}><a href="/admin/car/pending"><i class="fa fa-clock"></i> Pending</a></li>
                  <li {% if type == 'approved' %}class="active" {% endif %}><a href="/admin/car/approved"><i class="fa fa-check"></i> Approved</a></li>
                </ul>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Licence plate</th>
                    <th>Make</th>
                    <th>Model</th>
                    <th>year</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for car in vehicles %}
                    <tr>
                        <td>{{ car.id }}</td>
                        <td>{{ car.licensePlate }}</td>
                        <td>{{ car.make }}</td>
                        <td>{{ car.model }}</td>
                        <td>{{ car.year }}</td>
                        <td>
                            <a href="/admin/car/details/{{ car.id }}">
                                <i class="fa fa-car"></i>
                            </a>
                            <a href="/admin/delete-car/{{ car.id }}">
                                <i style="color:red;" class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}