{% extends 'layout/main.html' %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">
                {{ title }}
            </h2>
        </div>
    </div>
    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}

        <div class="masonry-item">
            <div class="bgc-white p-20 bd  col-md-12">
                <!-- <h6 class="c-grey-900">Add User</h6> -->
                <div class="mT-30">
                    <div class="row">
                        <div class="form-group col-md-12">
                           <label for="id_user">User</label>
                           <select class="form-control" name="user" id="id_user">
                               {% for person in persons %}
                                <option value="{{ person.id }}">{{ person.firstName }} {{ person.lastName }}</option>
                               {% endfor %}
                           </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                           <label for="id_bodytype">Body Type</label>
                           <select class="form-control" name="bodytype" id="id_bodytype">
                               {% for bodytype in bodytypes %}
                                <option value="{{ bodytype.id }}">{{ bodytype.name }}</option>
                               {% endfor %}
                           </select>
                        </div>
                        <div class="form-group col-md-6">
                           <label for="id_location">location</label>
                           <input type="text" placeholder="location of vehicle" class="form-control" id="id_location" name="location">
                           <input type="hidden" id="street_number" name="street_number"/>
                            <input type="hidden" id="route" name="route"/>
                            <input type="hidden" id="locality" name="locality" />
                            <input type="hidden" id="country" name="country" />
                            <input type="hidden" id="postal_code" name="postal_code"/>
                        </div>

                    </div>
                    <div class="row">

                        <div class="form-group col-md-6">
                           <label for="id_price">Price</label>
                           <input type="text" placeholder="Rent amount" class="form-control" id="id_price" name="price">
                        </div>
                        <div class="form-group col-md-6">
                           <label for="id_make">Make</label>
                           <select class="form-control" name="make" id="id_make">
                                <option value="Toyota">Toyota</option>
                                <option value="Subaru">Subaru</option>
                                <option value="Honda">Honda</option>
                           </select>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                           <label for="id_model">Model</label>
                           <select class="form-control" name="model" id="id_model">
                                <option value="WRX">WRX</option>
                                <option value="Tundra">Tundra</option>
                                <option value="Corolla">Corolla</option>
                                <option value="Land Cruiser">Land Cruiser</option>
                                <option value="Camry">Camry</option>
                                <option value="Highlander">Highlander</option>
                                <option value="RAV4">RAV4</option>
                                <option value="Avalon">Avalon</option>
                                <option value="Accord">Accord</option>
                                <option value="Civic">Civic</option>
                                <option value="Pilot">Pilot</option>
                                <option value="Fit">Fit</option>
                                <option value="Insight">Insight</option>
                                <option value="Legacy">Legacy</option>
                                <option value="Impreza">Impreza</option>
                                <option value="Outback">Outback</option>
                           </select>
                        </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-6">
                           <label for="id_licence">Licence plate</label>
                           <input type="text" placeholder="Licence plate no." class="form-control" id="id_licence" name="licence">
                      </div>
                      <div class="form-group col-md-6">
                           <label for="id_year">Year</label>
                           <input type="text" placeholder="Year" class="form-control" id="id_year" name="year">
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-6">
                           <label for="id_kilometer">Kilometer</label>
                           <input type="text" placeholder="Kilometer" class="form-control" id="id_kilometer" name="kilometer">
                      </div>
                      <div class="form-group col-md-6">
                           <label for="id_color">Color</label>
                           <input type="text" placeholder="Color" class="form-control" id="id_color" name="color">
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-6">
                           <label for="id_photo">Image</label>
                           <input type="file" class="form-control" id="id_photo" name="photo">
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-6">
                           <label for="id_summary">Summary</label>
                           <textarea class="form-control" id="id_summary" name="summary"></textarea>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-6">
                           <label for="id_3f">3f insurance</label>
                           <input type="file" class="form-control" id="id_3f" name="finsurance">
                      </div>
                      <div class="form-group col-md-6">
                           <label for="id_pf">private insurance</label>
                           <input type="file" class="form-control" id="id_pf" name="pinsurance">
                      </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <button type="submit" class="btn btn-primary">Save</button>
                        <a href="{{ view.get_success_url }}" class="btn btn-default">Cancel
                        </a>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </form>
    <script>
      // This example displays an address form, using the autocomplete feature
      // of the Google Places API to help users fill in the information.

      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

      var placeSearch, autocomplete;
      var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        //administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
      };

      function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('id_location')),
            {types: ['geocode']});

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
      }

      function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();

        console.log(place);

        for (var component in componentForm) {
          document.getElementById(component).value = '';
          document.getElementById(component).disabled = false;
        }

        // Get each component of the address from the place details
        // and fill the corresponding field on the form.
        for (var i = 0; i < place.address_components.length; i++) {
          var addressType = place.address_components[i].types[0];
          if (componentForm[addressType]) {
            var val = place.address_components[i][componentForm[addressType]];
            document.getElementById(addressType).value = val;
          }
        }
      }

      // Bias the autocomplete object to the user's geographical location,
      // as supplied by the browser's 'navigator.geolocation' object.
      function geolocate() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var geolocation = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            var circle = new google.maps.Circle({
              center: geolocation,
              radius: position.coords.accuracy
            });
            autocomplete.setBounds(circle.getBounds());
          });
        }
      }
    </script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYgZJnLLT3iTGQcaCTd-S3z-V9d-ywors&libraries=places&callback=initAutocomplete"></script>
{% endblock %}