{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

{% include 'layout/header.html' %}
  <script src="{% static 'adminapp/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'adminapp/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'adminapp/js/plugins/lightbox.js' %}"></script>

    <!-- Morris Charts JavaScript -->
{#    <script src="{% static 'adminapp/js/plugins/morris/raphael.min.js' %}"></script>#}
{#    <script src="{% static 'adminapp/js/plugins/morris/morris.min.js' %}"></script>#}
{#    <script src="{% static 'adminapp/js/plugins/morris/morris-data.js' %}"></script>#}
<body>

    <div id="wrapper">

        <!-- Navigation -->
       {% include 'layout/navigation.html' %}

        <div id="page-wrapper">

            <div class="container-fluid">

              {% block content %}

              {% endblock %}
                <!-- Page Heading -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->


</body>

</html>
