 <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/admin/dashboard">Needz Admin</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
{#                <li class="dropdown">#}
{#                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>#}
{#                    <ul class="dropdown-menu message-dropdown">#}
{#                        <li class="message-preview">#}
{#                            <a href="#">#}
{#                                <div class="media">#}
{#                                    <span class="pull-left">#}
{#                                        <img class="media-object" src="http://placehold.it/50x50" alt="">#}
{#                                    </span>#}
{#                                    <div class="media-body">#}
{#                                        <h5 class="media-heading"><strong>John Smith</strong>#}
{#                                        </h5>#}
{#                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>#}
{#                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </a>#}
{#                        </li>#}
{#                        <li class="message-preview">#}
{#                            <a href="#">#}
{#                                <div class="media">#}
{#                                    <span class="pull-left">#}
{#                                        <img class="media-object" src="http://placehold.it/50x50" alt="">#}
{#                                    </span>#}
{#                                    <div class="media-body">#}
{#                                        <h5 class="media-heading"><strong>John Smith</strong>#}
{#                                        </h5>#}
{#                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>#}
{#                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </a>#}
{#                        </li>#}
{#                        <li class="message-preview">#}
{#                            <a href="#">#}
{#                                <div class="media">#}
{#                                    <span class="pull-left">#}
{#                                        <img class="media-object" src="http://placehold.it/50x50" alt="">#}
{#                                    </span>#}
{#                                    <div class="media-body">#}
{#                                        <h5 class="media-heading"><strong>John Smith</strong>#}
{#                                        </h5>#}
{#                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>#}
{#                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </a>#}
{#                        </li>#}
{#                        <li class="message-footer">#}
{#                            <a href="#">Read All New Messages</a>#}
{#                        </li>#}
{#                    </ul>#}
{#                </li>#}
{#                <li class="dropdown">#}
{#                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>#}
{#                    <ul class="dropdown-menu alert-dropdown">#}
{#                        <li>#}
{#                            <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>#}
{#                        </li>#}
{#                        <li class="divider"></li>#}
{#                        <li>#}
{#                            <a href="#">View All</a>#}
{#                        </li>#}
{#                    </ul>#}
{#                </li>#}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ request.user }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
{#                        <li>#}
{#                            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>#}
{#                        </li>#}
{#                        <li class="divider"></li>#}
                        <li>
                            <a href="/admin/update-profile/"><i class="fa fa-fw fa-user"></i>Profile</a>
                        </li>
                        <li>
                            <a href="/admin/change-password/"><i class="fa fa-fw fa-key"></i>Password</a>
                        </li>
                        <li>
                            <a href="/admin/logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="/admin/dashboard"><i class="fa fa-fw fa-tachometer-alt"></i> Dashboard</a>
                    </li>
                    <li class="active">
                        <a href="/admin/list-admin"><i class="fa fa-fw fa-user"></i> Team</a>
                    </li>
                    <li class="active">
                        <a href="/admin/user/all"><i class="fa fa-fw fa-users"></i> User</a>
                    </li>
                    <li class="active">
                        <a href="/admin/car/all"><i class="fa fa-fw fa-car"></i> Car</a>
                    </li>
                    <li class="active">
                      <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-file"></i> Report <i class="fa fa-fw fa-caret-down"></i></a>
                       <ul id="demo" class="collapse">
                            <li class="active">
                                <a href="/admin/report-car-view">Car viewed</a>
                            </li>
                            <li class="active">
                                <a href="/admin/report-daily-update">Daily Update</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
