{% extends "layout/main.html" %}
{% block content %}
<div class="col-lg-12">
        <div class="row page-header" style="padding-bottom: 0;">
            <div class="col-md-12">
                <h2 class="">
                    Delete User
                </h2>
            </div>
        </div>
       <p>Are you sure you want to delete "{{ object.firstName }} {{ object.lastName }}"?</p>
       <form action="" method="post" novalidate>{% csrf_token %}

          <input type="submit" class='btn btn-danger' value="Confirm" />
          <a href="{{ view.get_success_url }}" class="btn btn-secondary">Cancel</a>
      </form>

</div>


{% endblock content %}

