{% extends 'layout/main.html' %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">
                {{ title }}
            </h2>
        </div>
    </div>
    <form action="" method="post" novalidate>{% csrf_token %}


        <div class="masonry-item">
            <div class="bgc-white p-20 bd  col-md-12">
                <!-- <h6 class="c-grey-900">Add User</h6> -->
                <div class="mT-30">
                    <div class="row">
                        <div class="form-group col-md-6">
                            {{ form.firstname.errors }}
                            {{ form.firstname.label_tag }}
                            {{ form.firstname }}
                        </div>

                        <div class="form-group col-md-6">
                            {{ form.lastname.errors }}
                            {{ form.lastname.label_tag }}
                            {{ form.lastname }}
                        </div>

                    </div>
                    <div class="row">

                        <div class="form-group col-md-6">
                            {{ form.username.errors }}
                            {{ form.username.label_tag }}
                            {{ form.username }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form.password.errors }}
                            {{ form.password.label_tag }}
                            {{ form.password }}
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            {{ form.email.errors }}
                            {{ form.email.label_tag }}
                            {{ form.email }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            {{ form.date_of_birth.errors }}
                            {{ form.date_of_birth.label_tag }}
                            {{ form.date_of_birth }}
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <button type="submit" class="btn btn-primary">Save</button>
                        <a href="{{ view.get_success_url }}" class="btn btn-default">Cancel
                        </a>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </form>
{% endblock %}