{% extends 'layout/main.html' %}
{% block content %}
    <div class="col-lg-12">
        <div class="row page-header" style="padding-bottom: 0;">
            <div class="col-md-6">
                <h2 class="">
                   {{ title }}
                </h2>
            </div>
            <div class="col-md-6" style="padding-top: 15px;text-align: right;">
                <a class="btn btn-primary " href="/admin/add-user">Add User</a>
            </div>
        </div>
        <div class="row" style="margin-bottom: 5px;">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                  <li {% if type == 'all' %}class="active" {% endif %}><a href="/admin/user/all"><i class="fa fa-users"></i> All</a></li>
                  <li {% if type == 'pending' %}class="active" {% endif %}><a href="/admin/user/pending"><i class="fa fa-user-clock"></i> Pending</a></li>
                  <li {% if type == 'approved' %}class="active" {% endif %}><a href="/admin/user/approved"><i class="fa fa-user-check"></i> Approved</a></li>
                </ul>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.displayName }}</td>
                        <td>{{ user.user.email }}</td>
                        <td>
                            <a href="/admin/user/details/{{ user.id }}">
                                <i class="fa fa-user"></i>
                            </a>
                            <a href="/admin/delete-user/{{ user.id }}">
                                <i  style="color:red" class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}