.car-details-body {
  padding-top: 60px; }

.sidebar-nav-fixed {
  height: 70%;
  width: 100%;
  text-align: center; }

.well {
  width: 100%;
  height: 100%; }

#car_desc {
  border-style: solid; }

#thumbnail-image {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

#thumbnail-image div {
  padding: 5px; }

#car-header {
  margin-bottom: 10px; }

.location-and-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.location-and-rating .location {
  padding-right: 20px; }

.car-images {
  padding-bottom: 20px; }

.thin-border {
  border-style: solid;
  border-width: thin;
  border-color: #EEEEEE;
  padding: 20px; }

#car-details {
  padding: 20px;
  margin-bottom: 20px; }

#car-details-tabs {
  margin-bottom: 20px; }

#car-tab-content .table > tbody > tr:first-child > th {
  border: 0; }

#car-tab-content .table > tbody > tr:first-child > td {
  border: 0; }

.navbar-no-margin {
  margin-bottom: 0px; }

#navbar-custom {
  background-color: #1F3D38; }

#navbar-custom .navbar-nav > li > a {
  color: white;
  text-shadow: none;
  text-decoration: none; }

#navbar-custom .navbar-nav > li > a:hover {
  color: #373F48;
  text-shadow: none;
  text-decoration: none; }

.profile-container {
  margin-top: 50px; }

.profile-container .col-md-4 {
  padding: 0px 50px; }

.profile-container .col-md-4 .profile-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px; }

.profile-container .col-md-4 .profile-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.profile-container .col-md-4 .profile-details .borderless td {
  border: none; }

.profile-container #messages {
  padding: 0px 50px; }

.profile-container #messages .message-image {
  width: 25px;
  height: 25px; }

.panel-default > .panel-heading {
  background-image: none;
  background-color: #1F3D38;
  color: white; }

#navbar-no-margin {
  margin-bottom: 0px; }

.messages-container {
  margin-top: 50px; }

#yourlisting-container {
  margin-top: 50px;
  margin-bottom: 50px; }

.content-heading {
  margin: 0px 30px 50px 30px; }

.listing-table {
  margin: 0px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.car-name {
  font-size: 18px;
  font-weight: bold; }

.car-location {
  font-weight: 600;
  color: #a3a1a1; }

.car-location span {
  padding-right: 5px; }

.view-reviews {
  margin-top: 10px;
  vertical-align: middle; }

.review-column {
  text-align: center; }

.price-column {
  text-align: center; }

#renthistory-container {
  margin-top: 50px;
  margin-bottom: 50px; }

.receipt-column {
  text-align: center; }

.account-container {
  margin-top: 50px;
  margin-bottom: 50px; }

.edit-links ul > li > a {
  color: black; }

.account-panel {
  padding-top: 15px; }

.profile-photo-container {
  margin-top: 50px;
  margin-bottom: 50px; }

.custom-panel {
  padding-top: 15px; }

.upload-photo, .take-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle; }

.btn-lg {
  height: 100px; }

.thumbnail {
  border: none; }

.payment-method-container {
  margin-top: 50px;
  margin-bottom: 50px; }

.newlisting-container {
  margin-top: 50px; }

.vehicle-type-panel h4 {
  text-align: center;
  font-weight: 200;
  font-size: 14px; }

.padding-narrow {
  padding-right: 10em;
  padding-left: 10em; }

.upload-photo-newlisting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.upload-photo-newlisting .thumbnail {
  margin-bottom: 0; }

.upload-photo-button {
  height: 50px;
  width: 200px;
  margin-top: 20px; }

textarea {
  resize: none; }

.next-button {
  width: 100px;
  height: 50px; }

.requirement-group .requirement-status-tick {
  display: inline-block;
  padding-right: 5px; }

.requirement-group .requirement-name {
  display: inline-block; }

.requirement-disclaimer {
  margin-bottom: 30px; }

#additional-requirement {
  margin-top: 50px; }

#add-requirement-button {
  margin-top: 10px; }

.submit-button-requirements {
  margin-top: 50px;
  width: 100px;
  height: 50px; }

.navbar-search-criteria {
  padding: 0; }

.navbar-search-criteria #location, .navbar-search-criteria #date, .navbar-search-criteria #body-type {
  height: 50px; }

.navbar-search-criteria #location {
  width: 300px; }

.refine-search-collapse-container {
  background-color: #F8F8F8; }

#refine-navbar {
  background-color: white;
  border-color: white; }

#refine-button {
  height: 50px; }

.search-rating-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.search-rating-wrapper p {
  padding-left: 5px;
  padding-right: 5px; }

#search-review-details:hover {
  text-decoration: none; }

.search-result-panel {
  padding-bottom: 0px; }

.stars {
  color: #2F7748; }

.number-reviews {
  color: #373F48; }

* {
  font-family: 'Source Sans Pro', sans-serif; }

body {
  font-family: sans-serif; }

::-webkit-scrollbar {
  display: none; }

.navbar {
  margin-bottom: 0px; }

#white-navbar {
  background-color: white;
  border-color: white; }

.hero-section {
  color: white;
  padding: 5em 0;
  text-align: center;
  height: 70vh;
  min-height: 10%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 10;
  /* These two lines are counted as one :-)       */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background: url(/static/images/background3.jpg) no-repeat fixed;
  background-position: 50% 80%;
  background-size: cover;
  -o-background-size: cover; }

.hero-section h2 {
  font-size: 40px; }

.hero-section .form-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5em 0; }

.hero-section .form-content .input-group-addon {
  background-color: white;
  width: 62px; }

.hero-section .form-content .form-control {
  height: 62px;
  width: 285px; }

.how-it-works {
  text-align: center;
  padding: 3em 0; }

.customer-quote {
  height: 10vh;
  background-color: #2F7748;
  font-size: 22px;
  min-height: 10%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 10;
  /* These two lines are counted as one :-)       */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: white; }

.footer {
  padding: 3em;
  display: block; }

.footer * {
  color: #373F48; }

.footer .footer-links {
  margin: 0 42px 0 0; }

.footer .trademark {
  padding: 3em 0;
  text-align: center; }

.modal {
  text-align: center; }

.modal .modal-dialog {
  width: 450px;
  display: inline-block;
  text-align: left;
  vertical-align: middle; }

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%; } }

.modal-body {
  padding: 30px; }

.modal-body .social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.modal-body .social-networks button {
  height: 50px;
  margin: 5px 0; }

.modal-body .social-networks #facebook {
  background-color: #3B5998;
  color: white; }

.modal-body h5 {
  font-weight: bold;
  text-decoration: underline;
  text-align: center; }

.modal-body form input {
  height: 50px; }

.modal-body form button {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 50px;
  background-color: #1F3D38;
  color: white; }

.modal-footer {
  padding: 30px; }

#vertical-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

#modal-text {
  text-align: left; }

#modal-text p {
  margin: 0 auto; }

#signup-modal #alternate-signup {
  text-align: center; }

#signup-modal button {
  height: 50px; }

.custom-button {
  background-color: #2F7748;
  color: white;
  border-color: #2F7748; }
