/*change by ahatnum*/

#responsive_view_form {
    display: block;
}

.radio img {
    width: 100%;
    height: 112px;
    object-fit: contain;
}

#fileToUpload {
    width: 100%;
    margin-bottom: 5px;
}

.driver-picture-upload img {
    margin: 0 auto;
}

.vehicle-type-panel .radio {
    height: 143px !important;
    margin-bottom: 25px !important;
}

.vehicle-type-panel .radio label {
    padding-left: 0px !important;
    ;
}

.licence-submit-button {
    margin: 15px 0;
}

.footer hr {
    margin-bottom: 40px
}

.footer .col-sm-12 {
    text-align: center
}

.navbar {
    /*border: 0;*/
}

.hero-section .form-content {
    display: block;
}

.hero-section .form-content .form-control {
    width: 100% !important;
    border-radius: 0 !important;
    border-color: #b3b3b3 !important;
}

.form-content .input-group:nth-child(1) .form-control,
.form-content .input-group:nth-child(2) .form-control {
    border-right: 0;
}

#search-button-home-screen {
    display: block !important;
    padding-top: 5px !important;
    height: 62px;
    margin: 0 auto;
}

.input-group[class*="col-"] {
    float: left;
}

.input-group-addon {

    border-radius: 0 !important;
    border-color: #b3b3b3 !important;
}

#search-button-home-screen {
    padding-top: 12px;
}

.history-car-listing-info {
    text-align: center;
    padding: 10px 0;
}

.booking-dates {
    font-weight: bold;
    color: #1F3D38;
}

.booking-status {
    font-weight: bold;
    color: tomato;
}
@media only screen and (max-width: 992px) {
    .history-car-listing-item {
        width: 50%;
        height: 70px;
    }
}
@media only screen and (max-width: 767px) {
    .rent-history.listing-table {
        display: block !important;
    }
    .listing-table .history-car-listing-info {
        width: 100% !important;
    }
}
@media only screen and (max-width: 350px){
    .history-car-listing-item {
        width: 100%;
    }
    .history-car-listing-item:nth-child(3), .history-car-listing-item:nth-child(4){
        height: auto;
    }
}

@media only screen and (max-width: 767px) {
    #homepage-search-input {
        width: 500px;
        margin-bottom: 5px;
    }
    .input-group[class*="col-"] {
        float: none;
    }
    .hero-section {
        height: 500px !important;
    }
    .hero-section .form-content .form-control {
        height: 45px !important;
    }
    #search-button-home-screen {
        padding-top: 3px !important;
        height: 45px !important;
        width: 150px !important;
    }
    .form-content .input-group:nth-child(1) .form-control,
    .form-content .input-group:nth-child(2) .form-control {
        border-right: 1px solid;
    }
    .footer .footer-links {
        margin: 0 10px 0 0 !important;
    }
    .how-it-works p {
        padding: 0 10px;
    }
    .contact-form {
        text-align: center;
    }
    .padding-narrow {
        padding: 15px !important;
    }
    #navbar-custom .container {
        padding: 0;
    }
    #profile-navbar ul {
        margin: 7.5px 10px;
    }
    #profile-navbar ul li a {
        float: left !important;
        padding: 10px 13px !important;
        font-size: 13px;
    }
    #account-side-navbar-wrapper {
        /*background-color: #f9f9db;*/
        padding: 12px;
        margin-bottom: 20px;
    }
    #account-side-navbar-wrapper ul li a {
        /*float: left;*/
        margin-bottom: 5px !important;
    }
    .driver-picture-upload {
        width: 100%;
        float: none;
        margin-bottom: 10px;
        text-align: center;
    }
    .footer {
        height: auto !important;
    }
    .footer hr {
        margin-bottom: 20px
    }
    .footer .footer-links {
        margin: 0 9px 0 0 !important;
        font-size: 12px !important;
    }
    .footer p {
        font-size: 12px !important;
        margin: 10px 0 !important;
    }

    .footer {
        padding: 0em;
    }
}

@media (min-width: 330px) and (max-width: 767px) {
    #fileToUpload {
        padding-left: 22%
    }
}

@media (min-width: 500px) and (max-width: 550px) {
    #homepage-search-input {
        width: 450px;
    }
}

@media only screen and (max-width: 530px) {
    .modal .modal-dialog {
        width: 350px !important;
    }
}

@media only screen and (max-width: 400px) {
    .modal .modal-dialog {
        width: 300px !important;
    }
}

@media only screen and (max-width: 340px) {
    .modal .modal-dialog {
        width: 270px !important;
    }
}

@media only screen and (max-width: 310px) {
    .modal .modal-dialog {
        width: 240px !important;
    }
}

@media only screen and (max-width: 500px) {
    .messages-container {
        padding: 0px 20px !important;
    }
}

@media (min-width: 450px) and (max-width: 499px) {
    #homepage-search-input {
        width: 400px;
    }
}

@media only screen and (max-width: 412px) {
    .listing-table {
        display: block !important;
    }
    .listing-table .own-car-listing-info {
        width: 100%;
    }
}

@media (min-width: 380px) and (max-width: 449px) {
    #homepage-search-input {
        width: 350px;
    }
}

@media (min-width: 340px) and (max-width: 379px) {
    #homepage-search-input {
        width: 300px;
    }
}

@media only screen and (max-width: 370px) {
    .hero-section h2 {
        font-size: 35px !important;
    }
    #search-button-home-screen {
        width: 100px !important;
    }
}

@media only screen and (max-width: 350px) {
    .radio {
        width: 100%
    }
}

@media (min-width: 351px) and (max-width: 400px) {
    #profile-navbar ul li a {
        padding: 10px 9px !important;
        font-size: 13px;
    }
}

@media (min-width: 310px) and (max-width: 350px) {
    #profile-navbar ul li a {
        padding: 10px 7px !important;
        font-size: 12px;
    }
}

@media (min-width: 310px) and (max-width: 339px) {
    #homepage-search-input {
        width: 280px;
    }
}

@media (min-width: 280px) and (max-width: 309px) {
    #homepage-search-input {
        width: 260px;
    }
    #responsive_view_form.container {
        padding-right: 0;
        padding-left: 0;
    }
    #profile-navbar ul li a {
        padding: 10px 5px !important;
        font-size: 11px;
    }
}

@media only screen and (max-width: 279px) {
    #homepage-search-input {
        width: 180px;
    }
    .input-group-addon {
        display: none;
    }
    .hero-section h2 {
        font-size: 25px;
    }
}










/*change by ahatnum*/

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 200px;
    padding-top: 50px;
}

* {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    font-family: sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

.navbar {
    min-height: 50px;
    margin-bottom: 0px;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: auto;
}

.navbar-default {
    box-shadow: none;
    background-color: white;
    background-image: none;
}

.carousel {
    margin: 0;
}

.carousel-cell {
    width: 50%;
    /* half-width */
    height: auto;
    margin-right: 10px;
}

#rentfromdate {
    height: 50px;
    padding: 5px;
}

#renttodate {
    height: 50px;
    padding: 5px;
}

#car-header {
    margin-bottom: 10px;
}

.location-and-rating {
    display: flex;
    align-items: center;
}

.location-and-rating .location {
    padding-right: 20px;
}

.thin-border {
    border-style: solid;
    border-width: thin;
    border-color: #EEEEEE;
    padding: 20px;
}

#car-details {
    padding: 20px;
    margin-bottom: 20px;
}

#car-details-tabs {
    margin-bottom: 20px;
}

#car-tab-content .table>tbody>tr:first-child>th {
    border: 0;
}

#car-tab-content .table>tbody>tr:first-child>td {
    border: 0;
}

#reviews-car {
    padding: 20px;
    margin-bottom: 20px;
}

#navbar-custom {
    background-color: #1F3D38;
}

#navbar-custom .navbar-nav>li>a {
    color: white;
    text-shadow: none;
    text-decoration: none;
}

#navbar-custom .navbar-nav>li>a:hover {
    color: #373F48;
    text-shadow: none;
    text-decoration: none;
}

.profile-container {
    margin-top: 50px;
}

.profile-container .col-md-4 {
    padding: 0px 50px;
}

.profile-container .col-md-4 .profile-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.profile-container .col-md-4 .profile-details {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.profile-container .col-md-4 .profile-details .borderless td {
    border: none;
}

.profile-container #messages {
    padding: 0px 50px;
}

.profile-container #messages .message-image {
    width: 25px;
    height: 25px;
}

.panel-default>.panel-heading {
    background-image: none;
    background-color: #1F3D38;
    color: white;
    border-radius: 2px;
}

.messages-container {
    margin-top: 50px;
    padding: 0 100px;
}

#yourlisting-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.content-heading {
    margin: 0px 30px 50px 30px;
}

.listing-table {
    margin: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.car-name {
    font-size: 18px;
    font-weight: bold;
}

.car-location {
    font-weight: 600;
    color: #a3a1a1;
}

.car-location span {
    padding-right: 5px;
}

.view-reviews {
    margin-top: 10px;
    vertical-align: middle;
}

.review-column {
    text-align: center;
}

.price-column {
    text-align: center;
}

#renthistory-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.receipt-column {
    text-align: center;
}

.account-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.account-panel {
    border-radius: 0;
    padding-top: 15px;
}

.custom-panel {
    padding-top: 15px;
}

.upload-photo,
.take-photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
}

.btn-lg {
    height: 100px;
}

.thumbnail {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
}

.payment-method-container {
    margin-top: 50px;
    margin-bottom: 50px;
}


.vehicle-type-panel h4 {
    text-align: center;
    font-weight: 200;
    font-size: 14px;
}

.padding-narrow {
    padding-right: 10em;
    padding-left: 10em;
}

.upload-photo-newlisting {
    display: flex;
    justify-content: center;
}

.upload-photo-newlisting .thumbnail {
    margin-bottom: 0;
}

.upload-photo-button {
    border-radius: 2px;
    background-color: #2F7748;
    color: white;
    border-color: #2F7748;
    height: 50px;
    width: 200px;
    margin-top: 20px;
}

textarea {
    resize: none;
}

.next-button {
    width: 100px;
    height: 50px;
}

.requirement-group .requirement-status-tick {
    display: inline-block;
    padding-right: 5px;
}

.requirement-group .requirement-name {
    display: inline-block;
}

.requirement-disclaimer {
    margin-bottom: 30px;
}

#additional-requirement {
    margin-top: 50px;
}

#add-requirement-button {
    margin-top: 10px;
}

.submit-button-requirements {
    margin-top: 50px;
    width: 100px;
    height: 50px;
}

.navbar-search-criteria {}

.navbar-search-criteria #location,
.navbar-search-criteria #date,
.navbar-search-criteria #body-type {
    height: 50px;
    width: 100%;
}

.navbar-search-criteria #location {
    width: 100%;
}

.navbar-search-criteria .row .col-md-3,
.navbar-search-criteria .row .col-md-2,
.navbar-search-criteria .row .col-md-1 {
    padding: 0 5px;
}

#refine-search {
    background-color: #E0E0E0;
}

#refine-navbar {
    background-color: white;
}

.search-rating-wrapper {
    display: flex;
}

.search-rating-wrapper p {
    padding-left: 5px;
    padding-right: 5px;
}

#search-review-details:hover {
    text-decoration: none;
}

.search-result-panel {
    padding-bottom: 0px;
}

.stars {
    color: #2F7748;
}

.number-reviews {
    color: #373F48;
}


#main-navbar>li>a,
#main-navbar-brand>a {
    /*ahatnum*/
    /*padding-top:25px !important; padding-bottom:25px !important;*/
}


.hero-section {
    color: white;
    padding: 5em 0;
    text-align: center;
    height: 500px;
    min-height: 10%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 10;
    /* These two lines are counted as one :-)       */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url(/static/images/background3.jpg) no-repeat fixed;
    background-position: 50% 80%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.hero-section h2 {
    font-size: 40px;
}

.hero-section .form-content {
    display: flex;
    justify-content: center;
    margin: 5em 0;
}

.hero-section .form-content .input-group-addon {
    box-shadow: none;
    border-color: #b3b3b3;
    /*changes*/
    background-color: white;
    border-radius: 2px;
    width: 62px;
}

.hero-section .form-content .form-control {
    height: 62px;
    width: 285px;
}

.how-it-works {
    text-align: center;
    padding: 3em 0;
}

.customer-quote {
    background-color: #2F7748;
    font-size: 22px;
    min-height: 70px;
    padding: 10px;
    /* Fallback for browsers do NOT support vh unit */
    /*min-height: 10;*/
    /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.customer-quote p {
    margin: auto !important;
}

.footer {
    padding: 0;
    display: block;
}

.footer * {
    color: #373F48;
}

.footer .footer-links {
    margin: 0 42px 0 0;
}

.footer .footer-links:hover {
    text-decoration: none;
    color: #2F7748;
}

.footer .trademark {
    padding: 3em 0;
    text-align: center;
}

.modal {
    text-align: center;
}

.modal .modal-dialog {
    width: 450px;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-body {
    padding: 30px;
}

.modal-body .social-networks {
    display: flex;
    flex-direction: column;
}

.modal-body .social-networks button {
    height: 50px;
    margin: 5px 0;
}

.modal-body .social-networks #facebook {
    background-color: #3B5998;
    color: white;
}

.modal-body h5 {
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

.modal-body form input {
    height: 50px;
}

.modal-body form button {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 50px;
    background-color: #1F3D38;
    color: white;
}

.modal-footer {
    padding: 30px;
}

#x,
#fn,
#ln,
#password,
#dob,
#y,
#y1,
#fiftypixel-height,
#addr1,
#sub,
#pc,
#st,
#c {
    height: 50px;
}

#vertical-align {
    display: flex;
    align-items: center;
}

#modal-text {
    text-align: left;
}

#modal-text p {
    margin: 0 auto;
}

#signup-modal #alternate-signup {
    text-align: center;
}

#signup-modal button {
    height: 50px;
}

.custom-button {
    border-radius: 2px;
    background-color: #2F7748;
    color: white;
    border-color: #2F7748;
}

.secondary-custom-button {
    border-radius: 2px;
    background-color: #566270;
    color: white;
    border-color: #566270;
}

.cancel-button {
    border-radius: 2px;
    background-color: #566270;
    color: white;
    border-color: #566270;
}

.custom-button:hover {
    color: #373F48;
}

#account-side-navbar>li>a {
    color: #373F48;
}

#account-side-navbar>.active>a {
    border-radius: 0;
    background-color: #2F7748;
    color: white;
    border-radius: 4px;
}

.dropdown-menu {
    border-radius: 2px;
}

.fa-facebook-official:hover {
    color: #3B5998;
}

.fa-twitter-square:hover {
    color: #1DA1F2;
}

.img-thumbnail {
    border-radius: 2px;
}

#homepage-search-input>input {
    border-radius: 2px;
    border-top-color: #b3b3b3;
    /*changes*/
    border-bottom-color: #b3b3b3;
    /*changes*/
    border-right-color: white;
    border-left-color: #b3b3b3;
    /*changes*/
}

#review-user-icon {
    height: 50px;
}

#owner-name-image {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

#change-profile-pic-panel {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar-default .navbar-nav>#new-listing-link>a {
    background-color: #1F3D38;
    color: white;
    text-shadow: none;
}

#contact-form-group>input {
    height: 50px;
    border-radius: 2px;
}

#contact-form-group>textarea {
    border-radius: 2px;
}

#search-button-home-screen {
    display: flex;
    align-items: center;
}

#search-button-home-screen>a {
    color: white;
}

#search-button-home-screen>a:hover {
    text-decoration: none;
    color: white;
}


#new-message-row {
    display: flex;
    align-items: center;
}