{% extends 'layout/main.html' %}
{% block content %}
<div class="row">
                    <div class="col-lg-12">
                        <h2 class="page-header">
                            {{title}}
                        </h2>

                    </div>
                    </div>


                  <!-- <div class="row">
                    <div class="col-lg-12"> -->
                   <form action="" method="post">

                      {% csrf_token %}

                      <div class="masonry-item">
                        <div class="bgc-white p-20 bd  col-md-12">
                           <!-- <h6 class="c-grey-900">Add User</h6> -->
                           <div class="mT-30">
                                 <div class="form-group col-md-12">

                                    {% for message in messages %}
                                      <div class="alert alert-{{ message.level_tag }} {{ message.tags }} alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                        {{ message }}
                                      </div>
                                    {% endfor %}

                                    {% if form.errors %}
                                        {% for field in form %}
                                            {% for error in field.errors %}
                                            <div class="alert alert-danger">
                                              <strong>{{ error|escape }}</strong>
                                            </div>
                                          {% endfor %}
                                        {% endfor %}
                                        {% for error in form.non_field_errors %}
                                          <div class="alert alert-danger">
                                              <strong>{{ error|escape }}</strong>
                                          </div>
                                        {% endfor %}
                                    {% endif %}

                                 </div>
                                 <!-- <div class="form-row"> -->
                                  <div class="row">
                                       <div class="form-group col-md-6">
                                        {{ form.current_password.errors }}
                                        {{ form.current_password.label_tag }}
                                        {{ form.current_password }}
                                    </div>
                                  </div>
                                   <div class="row">
                                       <div class="form-group col-md-6">
                                            {{ form.new_password.errors }}
                                            {{ form.new_password.label_tag }}
                                            {{ form.new_password }}
                                        </div>
                                   </div>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                        {{ form.confirm_password.errors }}
                                        {{ form.confirm_password.label_tag }}
                                        {{ form.confirm_password }}
                                    </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <button type="submit" class="btn btn-primary">Change</button>
                                              <a href="{{ view.get_success_url }}" class="btn btn-default">Cancel
                                              </a>
                                        </div>
                                    </div>
                                 <!-- </div> -->

                           </div>
                        </div>
                     </div>

                  </form>
                </div>
{% endblock %}