{% extends 'layout/main.html' %}
{% block content %}
    <div class="col-lg-12">
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-header">
                    Delete member
                </h2>
            </div>
        </div>
        <div class="row">
 			<div class="col-lg-12">
 			{% if not object.same_user %}
 				<form action="" method="post">{% csrf_token %}
 					<p> Are you sure you want to delete "{{ object.firstname }} {{ object.lastname }}"?</p>
 					<input class='btn btn-default'  type="submit" value="Confirm" />
 					<a href="{{ view.get_success_url }}" class="btn btn-default">Cancel</a>
 				</form>
 			{% else %}

                    <p style="color: red;font-weight: bold"> You can not delete your self </p>
                  {% endif %}

 			</div>
 		</div>
    </div>
{% endblock %}