{% extends 'layout/main.html' %}
{% block content %}
    <div class="col-lg-12">
        <div class="row page-header" style="padding-bottom: 0;">
            <div class="col-md-6">
                <h2 class="">
                    List Team
                </h2>
            </div>
            <div class="col-md-6" style="padding-top: 15px;text-align: right;">
                <a class="btn btn-primary " href="/admin/add-admin">Add Member</a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for object in object_list %}
                    <tr>
                        <td>{{ object.firstname }}</td>
                        <td>{{ object.lastname }}</td>
                        <td>{{ object.username }}</td>
                        <td>{{ object.user.email }}</td>
                        <td>
                            {% if object.role == 'super_admin' %}
                                Super Admin
                            {% else %}
                                Staff
                            {% endif %}
                        </td>
                        <td>
                            <a href="/admin/delete-admin/{{ object.id }}">
                                <i class="fa fa-trash"></i>
                            </a>
                            <a href="/admin/update-admin/{{ object.id }}">
                                <i class="fa fa-user"></i>
                            </a>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}