{% load tags %}
<!DOCTYPE html>
<html lang="en" style="position: relative; min-height:100%">

<head>
    {% include "header_scripts.html" %}
    <title>SwiftRydes</title>
</head>

<body>
    {% include "navbar.html" %} {% include "user/navbar.html" with active='account' %}
    <div class="container" id="yourlisting-container">
        <h3 class="content-heading">Your listings</h3> {% for car in cars %}
        <div class="row listing-table">
            <div class="col-md-2 col-xs-4 own-car-listing-info" style="text-align: center;">
                <img src="{{ car.vehicle_thumb_photo.photo.url }}" class="img-responsive img-thumbnail" alt="Responsive image">
            </div>
            <div class="col-md-10 col-xs-8 own-car-listing-info">
                <div class="row" style="margin-top: 5px;">
                    <div class="col-xs-2" style="text-align: center;">
                        <div class="row car-name"><a href="/car/{{ car.id }}">{{ car.make }} {{ car.model }}</a></div>
                        <div class="row car-location"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>{{ car.address }}</div>
                    </div>
                    <div class="col-xs-5 price-column"style="padding: 10px 0;">${{ car.defaultCost.totalCost }}/day</div>
                    <div class="col-xs-5 review-column">
                        {% if not car.rating %} no rating {% else %}
                        <div class="stars">
                            {% for a in 0|roundedrange:car.rating %}
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span> {% endfor %} {% for a in car.rating|round|negate|add:5|range:4 %}
                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> {% endfor %}
                        </div>
                        {% endif %}
                        <div class="view-reviews"><a href="/car/{{ car.id }}#reviews">View Reviews</a></div>
                    </div>
                </div>
            </div>
        </div>
        {% if not forloop.last %}
        <hr/> {% endif %} {% empty %}
        <div style="margin: 0px 30px 50px 30px;">
            <h4>You have not listed any cars yet.</h4>
            <h4>Want to list a car? <a href="{% url 'new_listing_view' %}">start here!</a></h4>
        </div>
        {% endfor %}
    </div>
    {% include "footer.html" %} {% include "footer_scripts.html" %}
</body>

</html>