{% load tags %}
<!DOCTYPE html>
<html lang="en" style="position: relative; min-height:100%">

<head>
    {% include "header_scripts.html" %}
    <title>RentUrCar</title>
</head>

<body>
    {% include "navbar.html" %} {% include "user/navbar.html" with active='history' %}
    <div class="container" id="renthistory-container">
        <h3 class="content-heading">Rent History</h3> {% for booking in history %}
        <div class="row rent-history listing-table">
            <div class="col-md-2 col-xs-4 history-car-listing-info">

                <img src="{{ booking.b.vehicle.vehicle_thumb_photo.photo.url }}" class="img-responsive img-thumbnail" alt="Responsive image">
            </div>
            <div class="col-md-10 col-xs-8 history-car-listing-info">
                <div class="row">
                    <div class="col-xs-3 history-car-listing-item">
                        <div class="row car-name">{{ booking.b.vehicle.make }} {{ booking.b.vehicle.model }}</div>
                        <div class="row car-location"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>{{ booking.b.vehicle.address.country }}</div>
                    </div>
                    <div class="col-xs-5 history-car-listing-item">
                        <div class="row booking-dates">
                            {{ booking.b.startTime |date:'Y-m-d'}} -- {{ booking.b.endTime |date:'Y-m-d' }}
                        </div>
                        <div class="row booking-status">
                            {% if booking.b.confirmedByOwner == 1 %} Confirmed {% elif booking.b.confirmedByOwner == 0 and booking.b.rejectedByOwner == 0 %} Pending {% elif booking.b.rejectedByOwner == 1 %} Rejected {% endif %}
                        </div>
                    </div>
                    <div class="col-xs-2 history-car-listing-item">
                        {% if not booking.b.vehicle.rating %} no reviews {% else %}
                        <div class="stars">
                            {% for a in 0|roundedrange:booking.b.vehicle.rating %}
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span> {% endfor %} {% for a in booking.b.vehicle.rating|round|negate|add:5|range:4 %}
                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> {% endfor %}
                        </div>
                        <div class="view-reviews"><a href="/car/{{ rent.vehicle.id }}#reviews-{{ booking.r.id }}">Your Review</a></div>
                        {% endif %}
                    </div>
                    <div class="col-xs-2 history-car-listing-item">
                        

                        <a href="#">View Receipt</a>
                    </div>
                </div>
            </div>
        </div>
        {% if not forloop.last %}
        <hr/> {% endif %} {% empty %}
        <div style="margin: 0px 30px 50px 30px;">
            <h4>You have rented a car yet.</h4>
            <h4>Experience a new vehicle <a href="{% url 'search_view' %}">now</a></h4>
        </div>
        {% endfor %}
    </div>
    {% include "footer.html" %} {% include "footer_scripts.html" %}
</body>

</html>