{% load tags %}
<!DOCTYPE html>
<html lang="en" style="position: relative; min-height:100%">
    <head>
        {% include "header_scripts.html" %}
        <title>SwiftRydes</title>
    </head>

    <body>
        {% include "navbar.html" %}
        {% include "user/navbar.html" with active='history' %}


        <div class="container messages-container">

            {% include "user/messages_include.html" with messages=messages %}

        </div>

        {% include "footer.html" %}
        {% include "footer_scripts.html" %}

    </body>
</html>
