{% load tags %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" style="position: relative; min-height:100%">
    <head>
        {% include "header_scripts.html" %}
        <title>SwiftRydes</title>
        <style>
            td {
                vertical-align: middle !important;
            }
        </style>
    </head>

    <body>
        {% include "navbar.html" %}
        {% include "user/navbar.html" with active='history' %}


        <div class="container messages-container"  style="padding: 0 100px;">

            <div class="panel panel-default">
                <!-- <div class="panel-heading">Messages (3 new)</div> -->
                <table class="table borderless">
                    <tbody>

                        {% for message in messages %}
                        <tr>


                            {% if message.isBookingRequestMessage %}
                                {% if message.sender == user.person %}
                                <td class="col-md-8">
                                    <table>
                                        <tr>
                                            <td style="width: 50px">
                                                {% if user.person.profilePicture %}
                                                <img height="40" width="40" style="object-fit: cover;object-position: center" src="{{ user.person.profilePicture.url }}">
                                                {% else %}
                                                    <img height="40" width="40" style="object-fit: cover;object-position: center" src="{% static 'images/man.png' %}">
                                                {% endif %}
                                            </td>
                                            <td><span style="font-size: 17px">{{ message.sender.displayName }}</span><br><span class="text-muted">{{ message.timestamp | date:'Y-m-d H:i'}}</span></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" style="padding: 10px 0">You {{ message.message }}</td>
                                        </tr>
                                    </table>

                                </td>
                                <td></td>
                                 <td></td>
    {#                            <td></td>#}
    {#                            <td><a href="/car/{{ message.referencesBooking.vehicle.id }}/request/{{ message.referencesBooking.id }}/cancel">Cancel request</a></td>#}
                                {% else %}
                                    <td class="col-md-8">
                                        <table>
                                            <tr>
                                                <td style="width: 50px">
                                                    {% if message.sender.profilePicture %}
                                                    <img height="40" width="40" style="object-fit: cover;object-position: center" src="{{ message.sender.profilePicture.url }}">
                                                    {% else %}
                                                         <img height="40" width="40" style="object-fit: cover;object-position: center" src="{% static 'images/man.png' %}">
                                                    {% endif %}
                                                </td>
                                                <td><span style="font-size: 17px">{{ message.sender.displayName }}</span><br><span class="text-muted">{{ message.timestamp | date:'Y-m-d H:i'}}</span></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" style="padding: 10px 0">{{ message.sender.displayName }} {{ message.message }}</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        {% if not message.readTimestamp %}
                                            <a href="/car/{{ message.referencesBooking.vehicle.id }}/request/{{ message.referencesBooking.id }}/accept">Accept</a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if not message.readTimestamp %}
                                            <a href="/car/{{ message.referencesBooking.vehicle.id }}/request/{{ message.referencesBooking.id }}/decline">Decline</a>
                                        {% endif %}
                                    </td>
                                {% endif %}
                            {% else %}
                                <td class="col-md-8">{{ message.message }}</td>
                                <td></td>
                                <td></td>
                            {% endif %}

                        </tr>

                        {% empty %}
                        <td>Your inbox is empty</td>
                        {% endfor %}

                    </tbody>
                </table>
            </div>

        </div>

        {% include "footer.html" %}
        {% include "footer_scripts.html" %}

    </body>
</html>
