{% load tags %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" style="position: relative; min-height:100%">
    <head>
        {% include "header_scripts.html" %}
        <title>SwiftRydes</title>
        <style>
            td {
                vertical-align: middle !important;
            }
            ::-webkit-scrollbar {
    width: 5px;
                display: block !important;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1F3D38;
    border-radius: 4px;
}
        </style>
    </head>

    <body>
        {% include "navbar.html" %}
        {% include "user/navbar.html" with active='history' %}


        <div class="container messages-container"  style="padding: 0 100px;">

            <div class="panel panel-default" id="message-panel" style="max-height: 400px;overflow-y: auto;">
                <!-- <div class="panel-heading">Messages (3 new)</div> -->
                <table class="table borderless">
                    <tbody>

                        {% for message in messages %}
                        <tr>


                            {% if not message.isBookingRequestMessage %}
                                {% if message.sender == user.person %}
                                <td class="col-md-8">
                                    <table>
                                        <tr>
                                            <td style="width: 50px">
                                                {% if user.person.profilePicture %}
                                                <img height="40" width="40" style="object-fit: cover;object-position: center" src="{{ user.person.profilePicture.url }}">
                                                {% else %}
                                                    <img height="40" width="40" style="object-fit: cover;object-position: center" src="{% static 'images/man.png' %}">
                                                {% endif %}
                                            </td>
                                            <td><span style="font-size: 17px">{{ message.sender.displayName }}</span><br><span class="text-muted">{{ message.timestamp | date:'Y-m-d H:i'}}</span></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" style="padding: 10px 0">{{ message.message }}</td>
                                        </tr>
                                    </table>

                                </td>
                                <td></td>
                                 <td></td>
    {#                            <td></td>#}
    {#                            <td><a href="/car/{{ message.referencesBooking.vehicle.id }}/request/{{ message.referencesBooking.id }}/cancel">Cancel request</a></td>#}
                                {% else %}
                                    <td class="col-md-8">
                                        <table>
                                            <tr>
                                                <td style="width: 50px">
                                                    {% if message.sender.profilePicture %}
                                                    <img height="40" width="40" style="object-fit: cover;object-position: center" src="{{ message.sender.profilePicture.url }}">
                                                    {% else %}
                                                      <img height="40" width="40" style="object-fit: cover;object-position: center" src="{%static 'images/man.png'%}">
                                                    {% endif %}
                                                </td>
                                                <td><span style="font-size: 17px">{{ message.sender.displayName }}</span><br><span class="text-muted">{{ message.timestamp | date:'Y-m-d H:i'}}</span></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" style="padding: 10px 0">{{ message.message }}</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
{#                                        {% if not message.readTimestamp %}#}
{#                                            <a href="/car/{{ message.referencesBooking.vehicle.id }}/request/{{ message.referencesBooking.id }}/accept">Accept</a>#}
{#                                        {% endif %}#}
                                    </td>
                                    <td>
{#                                        {% if not message.readTimestamp %}#}
{#                                            <a href="/car/{{ message.referencesBooking.vehicle.id }}/request/{{ message.referencesBooking.id }}/decline">Decline</a>#}
{#                                        {% endif %}#}
                                    </td>
                                {% endif %}
                            {% endif %}

                        </tr>

                        {% empty %}
                        <td>Your inbox is empty</td>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
            <div class="panel">
                <div class="row">
                    <div class="col-xs-12">
                        <textarea rows="2" cols="110" id="reply-message" class="form-control" style="width: 90%;float: left;border-radius: 0;"></textarea>
                        <button id="reply" class="btn btn-primary" style="height: 100%;width: 10%;position: absolute;border-radius: 0;padding: 0;"><i class="fa fa-send"></i></button>
                    </div>
                </div>


            </div>


        </div>

        {% include "footer.html" %}
        {% include "footer_scripts.html" %}
        <script>
            $(document).ready(function(){
                $("#message-panel").animate({ scrollTop: $('#message-panel').prop("scrollHeight")}, 400);
                $('#reply').click(function(){
                    var reply =$('#reply-message').val();
                    var token = '{{ csrf_token }}';
                    var replied_to = '{{ with_user }}';
                    if(reply!=''){
                        $.ajax({
                          url : '/user/message/reply/',
                          type:'POST',
                          data:{
                              reply:reply,
                              replied_to:replied_to,
                              csrfmiddlewaretoken:token
                          },
                          success:function(data){
                            if(data.status){
                                location.reload()
                            }
                          }
                        }
                    );

                    }

                })
            })
        </script>

    </body>
</html>
