{#<div class="panel panel-default">#}
{#    <div class="panel-heading">Messages <span role="presentation" class="label label-success label-as-badge">{{ messages|length }}</span></div>#}
{#    <table class="table borderless">#}
{#        <tbody>#}
{##}
{#            {% for otherparty in messages %}#}
{#            <tr>#}
{##}
{#                {% if messages|get_item:otherparty|last|get_item:'read' == 'false' %}#}
{#                <td style="box-shadow: 2px 0px 0px #0366d6 inset;"></td>#}
{#                {% else %}#}
{#                <td></td>#}
{#                {% endif %}#}
{#                <td class="col-md-1">#}
{#                    {% if otherparty.person.id != request.user.person.id %}#}
{#                        <img src="{{ otherparty.person.profilePicture.url }}" alt="" style="width: 25px;#}
{#    height: 25px;" class="message-image">#}
{#                    {% else %}#}
{#                        <img src="{{ messages|get_item:otherparty|last|get_item:'receiver_image' }}" alt="" style="width: 25px;#}
{#    height: 25px;" class="message-image">#}
{#                    {% endif %}#}
{#                </td>#}
{#                <td class="col-md-3">#}
{#                    {% if otherparty.person.id != request.user.person.id %}#}
{#                        <a href="/user/inbox/with/{{ otherparty.person.id }}">#}
{#                        {{ otherparty.person.displayName }}</a>#}
{#                    {% else %}#}
{#                         {% if messages|get_item:otherparty|last|get_item:'originator' == 'true' %}#}
{#                             <a href="/user/inbox/with/{{ messages|get_item:otherparty|last|get_item:'receiver_id' }}">#}
{#                             {{ messages|get_item:otherparty|last|get_item:'receiver_name' }}#}
{#                             </a>#}
{##}
{#                         {% endif %}#}
{#                    {% endif %}#}
{##}
{#                </td>#}
{#                <td class="col-md-8">#}
{#                    {% if messages|get_item:otherparty|last|get_item:'originator' == 'true' %}#}
{#                        {%  if messages|get_item:otherparty|last|get_item:'isBookingRequestMessage' == 'true' %}#}
{#                            You#}
{#                        {% endif %}#}
{#                    {% else %}#}
{#                        {%  if messages|get_item:otherparty|last|get_item:'isBookingRequestMessage' == 'true' %}#}
{#                            {{ otherparty.person.displayName }}#}
{#                        {% endif %}#}
{#                    {% endif %}#}
{#                    {{ messages|get_item:otherparty|last|get_item:'message'}}#}
{#                </td>#}
{##}
{#            </tr>#}
{##}
{#            {% empty %}#}
{#            <td>Your inbox is empty</td>#}
{#            {% endfor %}#}
{##}
{#        </tbody>#}
{#    </table>#}
{#</div>#}
{% load staticfiles %}
<div class="panel panel-default">
    <div class="panel-heading">Messages <span role="presentation" class="label label-success label-as-badge">{{ messages|length }}</span></div>
    <table class="table borderless">
        <tbody>

            {% for booking in messages %}
                <tr>


                    <td class="col-md-1">
                        {% if booking.sender.id != request.user.person.id %}
                            {% if booking.sender.profilePicture %}
                            <img src="{{ booking.sender.profilePicture.url }}" alt="" style="width: 25px;
        height: 25px;" class="message-image">
                            {% else %}
                             <img class="message-image" style="width: 25px;
        height: 25px;" src="{% static 'images/man.png' %}">
                            {% endif %}
                        {% else %}
                            {% if booking.receiver.profilePicture %}
                            <img src="{{ booking.receiver.profilePicture.url }}" alt="" style="width: 25px;
        height: 25px;" class="message-image">
                            {% else %}
                             <img class="message-image" style="width: 25px;
        height: 25px;" src="{% static 'images/man.png' %}">
                            {% endif %}
                        {% endif %}
                    </td>
                    <td class="col-md-3">
                    {% if booking.sender.id != request.user.person.id %}
                        <a href="/user/inbox/with/{{booking.sender.id}}">
                        {{ booking.sender.displayName }}
                        </a>
                    {% else %}
                         <a href="/user/inbox/with/{{booking.receiver.id}}">
                        {{ booking.receiver.displayName }}
                         </a>
                    {% endif %}

                    </td>
                    <td class="col-md-8">
                        {% if booking.sender.id != request.user.person.id %}
{#                            {{ booking.sender.displayName }}#}
                        {% else %}
{#                             You#}
                        {% endif %}
                        {{ booking.message }}
                    </td>
                </tr>
            {% empty %}
            <td>Your Request is empty</td>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Booking Request <span role="presentation" class="label label-success label-as-badge">{{ booking_requests|length }}</span></div>
    <table class="table borderless">
        <tbody>

            {% for booking in booking_requests %}
                <tr>


                    <td class="col-md-1">
                        {% if booking.sender.id != request.user.person.id %}
                            {% if booking.sender.profilePicture %}
                            <img src="{{ booking.sender.profilePicture.url }}" alt="" style="width: 25px;
        height: 25px;" class="message-image">
                            {% else %}
                            <img class="message-image" style="width: 25px;
        height: 25px;" src="{% static 'images/man.png' %}">
                            {% endif %}
                        {% else %}
                            {% if booking.receiver.profilePicture %}
                            <img src="{{ booking.receiver.profilePicture.url }}" alt="" style="width: 25px;
        height: 25px;" class="message-image">
                            {% else %}
                            <img class="message-image" style="width: 25px;
        height: 25px;" src="{% static 'images/man.png' %}">
                             {% endif %}
                        {% endif %}
                    </td>
                    <td class="col-md-3">
                    {% if booking.sender.id != request.user.person.id %}
                        <a href="/user/booking-inbox/{{ booking.referencesBooking_id }}">
                        {{ booking.sender.displayName }}
                        </a>
                    {% else %}
                         <a href="/user/booking-inbox/{{ booking.referencesBooking_id }}">
                        {{ booking.receiver.displayName }}
                         </a>
                    {% endif %}

                    </td>
                    <td class="col-md-8">
                        {% if booking.sender.id != request.user.person.id %}
                            {{ booking.sender.displayName }}
                        {% else %}
                             You
                        {% endif %}
                        {{ booking.message }}
                    </td>
                </tr>
            {% empty %}
            <td>Your Request is empty</td>
            {% endfor %}
        </tbody>
    </table>
</div>
