<nav class="navbar navbar-static-top" id="navbar-custom" style="z-index: 1;">
    <div class="container">
        
        <div id="profile-navbar">
            <ul class="nav navbar-nav second-nav">
                <li {% if active == 'profile' %} class="active" {% endif %}><a href="/user">Profile</a></li>
                <li><a href="/user/inbox">Inbox</a></li>
                <li><a href="/user/cars">Your Cars</a></li>
                <li><a href="/user/history">Your Rents</a></li>
                <li><a href="/user/account">Account</a></li>
            </ul>
        </div>
    </div>
</nav>
