<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" style="position: relative; min-height:100%">
    <head>
        {% include "header_scripts.html" %}
        <title>RentUrCar</title>
    </head>

    <body>
        {% include "navbar.html" %}
        {% include "user/navbar.html" with active='profile' %}

        <div class="container profile-container">
            <div class="col-md-4 col-sm-4">
                <div class="row profile-image">
                     {% if user.person.profilePicture %}
                         <img class="img-responsive img-thumbnail" src="{{ user.person.profilePicture.url }}" alt="Responsive image">
                     {% else %}
                        <img class="img-responsive img-thumbnail" alt="Responsive image" src="{% static 'images/man.png' %}">
                    {% endif %}
                    <h3>{{ user.person.firstName }} {{ user.person.lastName}}</h3>
                    <a href="/user/account">Edit Profile</a>
                </div>

                <div class="row profile-details">
                    <div class="panel panel-default">
                        <div class="panel-heading">Account Details</div>
                        <table class="table borderless">
                            <tbody>
                                <tr>
                                    <td>Email</td>
                                    <td>{{ user.email }}</td>
                                </tr>
                                <tr>
                                    <td>Phone Number</td>
                                    {% if user.person.phone %}
                                    <td>{{ user.person.phone }}</td>
                                    {% else %}
                                    <td><a href="/user/account">Add your number</a></td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td>Date of Birth</td>
                                    <td>{{ user.person.dateOfBirth }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">Other Details</div>
                        <table class="table borderless">
                            <tbody>
                                <tr>
                                    <td>Country</td>
                                    {% if user.person.address.country %}
                                    <td>{{ user.person.address.country }}</td>
                                    {% else %}
                                    <td><a href="/user/account">Add your address</a></td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td>Total rents</td>
                                    <td>DERPPPPP</td>
                                </tr>
                                <tr>
                                    <td>HERPPP</td>
                                    <td>BLURP</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-8 col-sm-8" id="messages">
                <div class="row">
                    {% if not request.user.person.is_licence_uploaded or not request.user.person.is_profile_picture_uploaded or not request.user.person.is_phone_number_added or not request.user.person.is_address_added %}
                        <div class="alert alert-warning alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>Warning! You have following informations/documents missing in your profile.</strong>
                            <ul>
                                {% if not request.user.person.is_licence_uploaded %}
                                    <li>Driving licence.</li>
                                {% endif %}
                                {% if not request.user.person.is_profile_picture_uploaded %}
                                    <li>Profile picture.</li>
                                {% endif %}
                                {% if not request.user.person.is_phone_number_added %}
                                    <li>Phone number.</li>
                                {% endif %}
                                {% if not request.user.person.is_address_added %}
                                    <li>Address.</li>
                                {% endif %}
                            </ul>
                        </div>
                    {% endif %}
                    {% include "user/messages_include.html" with messages=messages %}

                </div>
            </div>
        </div>
        {% include "footer.html" %}
        {% include "footer_scripts.html" %}
    </body>
</html>
