{% load tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include "header_scripts.html" %} {% load staticfiles %} {% include "footer_scripts.html" %}
    <title>Car Details</title>
</head>

<body>
    {% include "navbar.html" %}
    <div class="row">
        <div class="carousel" data-flickity='{ "autoPlay": true, "wrapAround": true}'>
            {% for i in images %}
            <div class="carousel-cell"><img src="{{ i.photo.url }}" alt="" class="img-responsive"></div>
            {% endfor %}
        </div>
    </div>
    <div class="container" style="margin: 50px auto;">
        <div class="row">
            <h3 id="car-header">{{ car.year }} {{ car.make }} {{ car.model }}</h3>
            <div class="location-and-rating">
                <h5 class="location">
                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"/></span>
                        {{ car.address.lineTwo }}
                    </h5> {{ car|rating_stars }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="row thin-border" id="car-details">
                    <h4>About this car</h4>
                    <hr />
                    <p>{{ car.comments }}</p>
                </div>
                <div class="row thin-border" id="car-details-tabs">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-details" data-toggle="tab">Details</a></li>
                        <li><a href="#tab-features" data-toggle="tab">Features</a></li>
                        <li><a href="#tab-specs" data-toggle="tab">Specifications</a></li>
                    </ul>
                    <div id="car-tab-content" class="tab-content">
                        <div class="tab-pane active" id="tab-details">
                            <table class="table table-striped">
                                <tbody>
                                    {% for property in properties %}
                                    <tr>
                                        <th scope="row">{{ property.propertyName.name }}</th>
                                        <td>{{ property.value }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane car-pane-row" id="tab-features">
                            <table class="table table-striped">
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane car-pane-row" id="tab-specs">
                            <table class="table table-striped">
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <form action="/car/{{ car.id }}/request/" method="POST" role="form" class="form" onsubmit="return checkTimeDuration();">
                        <div class="panel-heading">
                            <h4 style="font-size: 19px;"><span id="car-rent-price">${{ car.defaultCost.totalCost }}</span> per day</h4></div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5><b>Rent from</b></h5>
                                    <input type="date" class="form-control" id="rentfromdate" name="rentfromdate" placeholder="">
                                </div>
                                <div class="col-md-6">
                                    <h5><b>Rent to</b></h5>
                                    <input type="date" class="form-control" id="renttodate" name="renttodate" placeholder="">
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-md-8">
                                    <h5><span id="numdays"></span> x ${{ car.defaultCost.totalCost }}</h5>
                                </div>
                                <div class="col-md-4">
                                    <h5 style="text-align: right;">$<span id="sub-total-cost"></span></h5>
                                </div>
                            </div>
                            {% if car.hasBond %}
                            <div class="row">
                                <div class="col-md-8">
                                    <h5>Bond</h5>
                                </div>
                                <div class="col-md-4">
                                    <h5 style="text-align: right;" id="bond-value">${{ car.bondAmmount }}</h5>
                                </div>
                            </div>
                            {% endif %}
                            <hr>
                            <div class="row">
                                <div class="col-md-8">
                                    <h4><b>Total</b></h4>
                                </div>
                                <div class="col-md-4">
                                    <h4 style="text-align: right;"><b>$<span id="total-cost"></span></b></h4>
                                </div>
                            </div>
                            <br/> {% csrf_token %} {% if messages %}
                            <div class="messages" style="padding: 0 5px">
                                {% for message in messages %}
                                <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible" {% endif %}>
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> {{ message }}
                                </div>
                                {% endfor %}
                            </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-md-12">
                                    {% if user.is_authenticated %} {% if user.person.id != car.owner.id %} {% if user.person.can_rent %}
                                    <!-- <input type="submit" class="btn custom-button btn-block" id="fiftypixel-height">Request to Book</input> -->
                                    <button type="submit" class="btn custom-button btn-block" id="fiftypixel-height">Request to Book</button>
                                    {% else %}
                                    <span>Your account requires detail verification before you can rent vehicles.</span> {% endif %} {% endif %} {% else %}
                                    <button href="#" data-toggle="modal" class="btn custom-button btn-block" onclick="return false;" id="fiftypixel-height" data-target="#signinmodal">Request to Book</button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 style="font-size: 19px;">Owner</h4></div>
                    <div class="panel-body">
                        <div class="row" id="owner-name-image">
                            <a href="#">
                                    {% if car.owner.profilePicture %}
                                        <img class="img-responsive" alt="Responsive image" src="{{ car.owner.profilePicture.url }}" style="height: 50px;">
                                    {% else %}
                                         <img class="img-responsive " src="/static/images/man.png" alt="" style="height: 50px;">
                                    {% endif %}
                                </a>
                            <a href=""><h4 style="padding-left: 8px;color:#373F48;">{{ car.owner.displayName }}</h4></a>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-md-12">
                                {% if user.is_authenticated %} {% if user.person.id != car.owner.id %}
                                <button type="button" name="button" class="btn custom-button btn-block" data-toggle="modal" data-target="#new-message" id="fiftypixel-height">Contact Owner</button>
                                {% endif %} {% else %}
                                <a href="#" data-toggle="modal" class="btn custom-button btn-block" id="fiftypixel-height" data-target="#signinmodal">Contact Owner</a> {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 thin-border" id="reviews">
                <h4>User Reviews</h4>
                <hr /> {% for review in reviews %}
                <div id="reviews-{{ review.id }}">
                    <div class="row">
                        <div class="col-md-1" style="width: 12.5%">
                            <a href="#"><img class="img-responsive" alt="Responsive image" src="{{ review.person.profilePicture.url }}" id="review-user-icon"></a>
                        </div>
                        <div class="col-md-10">
                            <a href="#">
                                <div class="row">{{ review.person.firstName }}</div>
                            </a>
                            <div class="row">{{ review.date }}</div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-12">
                            <p>{{ review.comment }}</p>
                        </div>
                    </div>
                </div>
                <hr/> {% endfor %}
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="new-message" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #1F3D38;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" style="color: white;">Contact owner</h4>
                </div>
                <div class="modal-body">
{#                    <div class="row" id="new-message-row">#}
{#                        <div class="col-md-2">#}
{#                            <img src="../static/images/boss.png" alt="" class="message-image">#}
{#                        </div>#}
{#                        <div class="col-md-10">#}
{#                            <h4>John Smith</h4>#}
{#                            <p>Hello</p>#}
{#                        </div>#}
{#                    </div>#}
{#                    <hr>#}
                    <form action="/message?referrer={{ request.get_full_path }}" method="POST" role="form">
                        <!-- <div>
                                <p><b>When do you need the vehicle?</b></p>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p>Rent from</p>
                                        <input type="date" class="form-control" id="" placeholder="">
                                    </div>
                                    <div class="col-md-6">
                                        <p style="text-decoration:none; text-align: left;">Rent to</p>
                                        <input type="date" class="form-control" id="" placeholder="">
                                    </div>
                                </div>
                            </div> -->
                        <div class="form-group">
                            <textarea class="form-control" rows="8" name="text" placeholder="Enter message..."></textarea>
                        </div>
                        <input hidden="hidden" name="to" value="{{ car.owner.id }}"/>
                        {% csrf_token %}
                        <div style="text-align: right;">
                            <input type="submit" value="send" class="btn custom-button"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% include "footer.html" %}
    <script type="text/javascript">
    function checkTimeDuration() {
        var numdays = parseFloat(daysBetween($('#rentfromdate').val(), $('#renttodate').val()));
        valid = false
        if (numdays < 0 || isNaN(numdays)) {
            alert("The final date must be bigger than the start date!");
            valid = false
        } else {
            valid = true
        }
        console.log(valid)
        return valid;

    }

    function treatAsUTC(date) {
        var result = new Date(date);
        result.setMinutes(result.getMinutes() - result.getTimezoneOffset());
        return result;
    }

    function daysBetween(startDate, endDate) {
        var millisecondsPerDay = 24 * 60 * 60 * 1000;
        return (treatAsUTC(endDate) - treatAsUTC(startDate)) / millisecondsPerDay;
    }
    $(document).ready(function() {

        Date.prototype.toDateInputValue = (function() {
            var local = new Date(this);
            local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
            return local.toJSON().slice(0, 10);
        });



        $('#rentfromdate').val(new Date().toDateInputValue());

        $('#renttodate, #rentfromdate').change(function() {
            var numdays = parseFloat(daysBetween($('#rentfromdate').val(), $('#renttodate').val()));
            if (numdays < 0) {
                alert("The final date must be bigger than the start date!");
                $('#renttodate').val(new Date().toDateInputValue());
            } else {
                $('#numdays').text(numdays);
                var rentprice = {{ car.defaultCost.totalCost }};

                var cost = parseFloat(numdays) * parseFloat(rentprice);
                $('#sub-total-cost').text(cost);

                if ({{ car.bondAmmount }} !== null) {
                    var bond = {{ car.bondAmmount }};
                    totalcost = parseFloat(cost) + parseFloat(bond);
                }else {
                    totalcost = cost;
                }
                $('#total-cost').text(totalcost);
            }
        });


    });
    </script>
</body>

</html>