<!DOCTYPE html>
<html lang="en" style="position: relative; min-height:100%">
    <head>
        {% include "header_scripts.html" %}
        <title>RentUrCar</title>
    </head>

    <body>
        {% include "navbar.html" %}
            <div class="alert alert-success" role="alert" style="margin-top: 1px;text-align: center;">
               {% if messages %}
                    {% for message in messages %}
                       {{ message }} </br>
                    {% endfor %}
                {% endif %}
            </div>
        {% include "footer.html" %}
        {% include "footer_scripts.html" %}
    </body>
</html>
