<!DOCTYPE html>
<html lang="en" style="position: relative; min-height:100%">
    <head>
        {% include "header_scripts.html" %}
        <title>SwiftRydes - Contact</title>
    </head>

    <body>
        {% include "navbar.html" %}
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 contact-form">
              <h1>Contact us</h1>
              <p>Humblebrag scenester meditation, mustache tattooed narwhal bespoke mixtape kinfolk kogi meggings gastropub. Retro deep v ramps, tbh umami copper mug church-key green juice godard. Jean shorts chia flexitarian tofu, hell of hoodie ennui direct trade readymade. Salvia snackwave lyft craft beer, hoodie gluten-free portland YOLO vegan tbh butcher. Pop-up chillwave small batch chambray freegan, mlkshk health goth subway tile. Kombucha marfa vaporware ennui hella swag. Echo park kinfolk pop-up, shoreditch flannel hammock godard lo-fi live-edge 3 wolf moon cronut slow-carb.</p>
              <br/>
              <form role="form" action="" method="post">

                {% csrf_token %}
                <div class="form-group" id="contact-form-group">
                  <label for="contact_name">Full name</label>
                  <input type="text" class="form-control" id="id_contact_name" name="contact_name" placeholder="Full name">
                </div>
                <div class="form-group" id="contact-form-group">
                  <label for="contact_email">Email</label>
                  <input type="email" class="form-control" id="id_contact_email" name="contact_email" placeholder="Email"/>
                </div>

                <div class="form-group" id="contact-form-group">
                  <label for="content">Message</label>
                  <textarea class="form-control" id="id_content" name="content" rows="8" style="width: 100%;"></textarea>
                </div>

                <button type="submit" class="btn custom-button">Submit</button>
              </form>
            </div>
            <div class="col-md-4"></div>
          </div>
        </div>
    </body>

    {% include "footer.html" %}
    {% include "footer_scripts.html" %}

</html>
