<footer class="footer">
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <a href="#" class="footer-links">Blog</a>
                <a href="#" class="footer-links">Terms &amp; Conditions</a>
                <a href="/contact/" class="footer-links">Contact</a>
                <a href="#" class="footer-links">
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
    </a>
                <a href="#" class="footer-links">
        <i class="fa fa-twitter-square" aria-hidden="true"></i>
    </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p class="text-muted" style="margin: 20px 0px; text-align: center">
                    SwiftRydes &copy; 2017. All rights reserved.
                </p>
            </div>
        </div>
    </div>
</footer>