<!DOCTYPE html>
<html lang="en" style="position: relative; min-height:100%">

<head>
    {% include "header_scripts.html" %}
    <title>SwiftRydes</title>
</head>

<body>
    {% include "navbar.html" %}
    <div class="full">
        <div class="hero-section">
            <h2>Rent a car with us</h2>
            <form action="/search" method="get">
              
                <div class="form-content container" id="responsive_view_form">
                    <div>
                        <input name="q" hidden="hidden">
                    </div>
                    <div class="row" style="margin: 0 auto;text-align: center;">
                        <div id="homepage-search-input" class="col-sm-5 input-group">
                            <span class="input-group-addon">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                            <input name="b" class="form-control" placeholder="Type of Vehicle" aria-describedby="basic-addon3" type="text">
                        </div>
                        <div id="homepage-search-input" class="col-sm-5 input-group">
                            <span class="input-group-addon" id="basic-addon1">
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                            </span>
                            <input name="l" id="location" class="form-control" placeholder="Location/Country/City/PostCode" aria-describedby="basic-addon1" type="text ">
                            <input type="hidden" id="street_number" name="street_number"/>
                            <input type="hidden" id="route" name="route"/>
                            <input type="hidden" id="locality" name="locality" />
                            <input type="hidden" id="country" name="country" />
                            <input type="hidden" id="postal_code" name="postal_code"/>
                        </div>
{#                        <div id="homepage-search-input" class="col-sm-4 input-group">#}
{#                            <span class="input-group-addon" id="basic-addon1">#}
{#                <span class="glyphicon glyphicon-calendar " aria-hidden="true "></span>#}
{#                            </span>#}
{#                            <input name="d" class="form-control" placeholder="Date" aria-describedby="basic-addon2" type="date">#}
{#                        </div>#}

                            <button  id="search-button-home-screen" type="submit" class="btn custom-button col-sm-2 input-group" role="button ">Search</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="container how-it-works ">
            <h2>How it works?</h2>
            <p>Apple pie cake oat cake croissant pastry biscuit caramels candy. Sweet roll chocolate danish cotton candy sesame snaps chupa chups. Bear claw chupa chups marshmallow gummi bears bonbon chocolate cake brownie cookie. Bonbon fruitcake liquorice muffin cake jelly-o gummies biscuit. Sugar plum gummies donut jujubes chupa chups pie cupcake cupcake bonbon. Macaroon gummies cotton candy pastry sweet caramels macaroon oat cake. Icing cake pastry. Pudding pudding lemon drops. Sugar plum sweet cupcake. Chocolate jelly-o bear claw wafer dessert. Sesame snaps caramels marzipan. Carrot cake caramels sugar plum powder. Chocolate oat cake chocolate cake.</p>
        </div>
    </div>
    <div class="container-fluid customer-quote ">
        <p>“I love this service. Sugar plum sweet cupcake. Chocolate jelly-o bear claw wafer dessert.”</p>
    </div>
</body>
<script>
      // This example displays an address form, using the autocomplete feature
      // of the Google Places API to help users fill in the information.

      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

      var placeSearch, autocomplete;
      var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        //administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
      };

      function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('location')),
            {types: ['geocode']});

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
      }

      function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();

        console.log(place);

        for (var component in componentForm) {
          document.getElementById(component).value = '';
          document.getElementById(component).disabled = false;
        }

        // Get each component of the address from the place details
        // and fill the corresponding field on the form.
        for (var i = 0; i < place.address_components.length; i++) {
          var addressType = place.address_components[i].types[0];
          if (componentForm[addressType]) {
            var val = place.address_components[i][componentForm[addressType]];
            document.getElementById(addressType).value = val;
          }
        }
      }

      // Bias the autocomplete object to the user's geographical location,
      // as supplied by the browser's 'navigator.geolocation' object.
      function geolocate() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var geolocation = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            var circle = new google.maps.Circle({
              center: geolocation,
              radius: position.coords.accuracy
            });
            autocomplete.setBounds(circle.getBounds());
          });
        }
      }
</script>
{% include "footer.html" %}
{% include "footer_scripts.html" %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYgZJnLLT3iTGQcaCTd-S3z-V9d-ywors&libraries=places&callback=initAutocomplete"></script>

</html>