<!DOCTYPE html>
<html lang="en" style="position: relative; min-height:100%">
    <head>
        {% include "header_scripts.html" %}
        <title>RentUrCar</title>
    </head>

    <body>
        {% include "navbar.html" %}
        {% if error %}
        <div class="alert alert-danger" role="alert" style="margin-top: 1px;text-align: center;">{{ error }}</div>
        {% endif %}
        <div class="container">
            <div>
              <form action="/login?next={{ goto }}" method="POST" class="form-signin" style="max-width: 400px; margin: 0 auto;" autocomplete="on">
                  <h2 class="form-signin-heading">Please login</h2>
                  {% csrf_token %}
                  <!-- <input type="hidden" name="redirect" value="/research/"> -->
                  <div class="form-group {% if x %}has-error{% endif %}">
                    <label for="x" class="sr-only">E-mail</label>
                    <input id="x" type="email" name="x" class="form-control" placeholder="E-mail"/ required autofocus>

                  </div>
                  <div class="form-group {% if password %}has-error{% endif %}">
                    <label for="password" class="sr-only">Password</label>
                    <input id="y" type="password" name="y" class="form-control" placeholder="Password"/ required>
                  </div>

                  <div class="actions">
                      <input type="submit" class="btn custom-button btn-block" id="fiftypixel-height">
                  </div>
                </form>
            </div>
        </div>

        {% include "footer.html" %}
        {% include "footer_scripts.html" %}
    </body>
</html>
