<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header" id="main-navbar-brand">
            <a class="navbar-brand" href="/">SwiftRydes</a>
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#collapse-navbar" aria-controls="bs-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div id="collapse-navbar" class="collapse navbar-collapse">
            {% if user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right" id="main-navbar">
              <li id="new-listing-link">
                <a href="/new">List a Vehicle</a>
              </li>
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                      {{ user.person.firstName }}
                      <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu" style="z-index: 999;">
                      <li><a href="/user">My profile</a></li>
                      <li class="divider"></li>
                      <li><a href="/user/inbox">Messages</a></li>
                      <li><a href="/user/account">Account</a></li>
                      <li><a href="/user/history">History</a></li>
                  </ul>
              </li>
              <li>
                  <a href="/logout">Logout</a>
              </li>
            </ul>

            {% else %}
            <ul class="nav navbar-nav navbar-right" id="main-navbar">
                <li><a href="#" data-toggle="modal" data-target="#signinmodal">Login</a></li>
                <li><a href="#" data-toggle="modal" data-target="#signupmodal">Registration</a></li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>
{% if not user.is_authenticated %}
<div class="modal fade" id="signinmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Body -->
            <div class="modal-body">

                <!-- <div class="social-networks">
                <button type="button" class="btn btn-default" id="facebook">Log in with Facebook</button>
                <button type="button" class="btn btn-default" id="google">Log in with Google</button>
                </div>
                <h5>or</h5> -->
                <form action="/login" method="POST" role="form" autocomplete="on" class="form-signin">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="email" class="form-control" name="x" id="x" placeholder="Enter email"/>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="y" id="y" placeholder="Password"/>
                    </div>
                    <button type="submit" class="btn">Log in</button>
                </form>
            </div>

            <div class="modal-footer">
                <div class="row" id="vertical-align">
                    <div class="col-xs-6 vcenter" id="modal-text">
                        <p>Don't have an account?</p>
                    </div>
                    <div class="col-xs-6 vcenter">
                        <button type="button" class="btn custom-button" data-dismiss="modal" data-toggle="modal" data-target="#signupmodal">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="signupmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Body -->
            <div class="modal-body" id="signup-modal">
                <!--
                <p id="alternate-signup">Sign up with <a href="https://facebook.com">Facebook</a> or <a href="google.com">Google</a></p>
                <h5>or</h5>
                -->
                <form role="form" action="/signup" method="POST" onsubmit="return validateSignUpForm()">
                    {% csrf_token %}
                    <input name="quick" value="quick" type="hidden"/>
                    <div class="form-group">
                        <input type="email" class="form-control" name="x" id="email-signup" placeholder="Email address"/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="fName" id="fname" placeholder="First Name"/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="lName" id="lname" placeholder="Last Name"/>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="y" id="password" placeholder="Create a password"/>
                    </div>
                    <label for="birthday">Birthday</label>
                    <div class="form-group">
                        <input type="date" class="form-control" name="dob" id="dob" placeholder="dd/mm/yyyy"/>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="agree" id="agree" style="margin-right: 10px;float: left;height: auto;" /> <label>I agree to the <a  target="_blank" href="/terms-and-conditions">terms and conditions</a>.</label>
                    </div>
                    <button type="submit" class="btn custom-button">Sign Up</button>
                </form>

            </div>

            <div class="modal-footer">
                <div class="row" id="vertical-align">
                    <div class="col-xs-6 vcenter" id="modal-text">
                        <p>Already have an account?</p>
                    </div>
                    <div class="col-xs-6 vcenter">
                        <button type="button" class="btn custom-button" id="modal-button" data-dismiss="modal" data-toggle="modal" data-target="#signinmodal">Log in</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function validateSignUpForm(){
        valid = true;
        if($('#email-signup').val()==''){
           $('#email-signup').css('border','1px solid red');
           valid=false;
        }else{
            $('#email-signup').css('border','1px solid #ccc');
           valid=true;
        }

        if($('#fname').val()==''){
           $('#fname').css('border','1px solid red');
            valid=false;
        }else{
            $('#fname').css('border','1px solid #ccc');
           valid=true;
        }

        if($('#lname').val()==''){
            $('#lname').css('border','1px solid red');
            valid=false;
        }else{
            $('#lname').css('border','1px solid #ccc');
           valid=true;
        }

        if($('#password').val()==''){
           $('#password').css('border','1px solid red');
            valid=false;
        }else{
            $('#password').css('border','1px solid #ccc');
           valid=true;
        }

        if($('#dob').val()==''){
           $('#dob').css('border','1px solid red');
            valid=false;
        }else{
            $('#dob').css('border','1px solid #ccc');
           valid=true;
        }
        if($("#agree").prop('checked') == false){
            $('#agree').css('border','1px solid red');
            valid=false;
        }else{
            $('#agree').css('border','1px solid #ccc');
            valid=true;
        }
        return valid;
    }
</script>
{% endif %}
