{% load tags %}
<!DOCTYPE html>
<html lang="en" style="position: relative; min-height:100%">

<head>
    {% include "header_scripts.html" %}
    <title>SwiftRydes</title>
    <style>
    label>input {
        visibility: hidden;
        position: absolute;
    }

    label>input+img {
        cursor: pointer;
        border: 2px solid transparent;
    }

    label>input:checked+div {
        border: 2px solid #f00;
        border-radius: 3px;
    }
    </style>
</head>

<body>
    {% include "navbar.html" %}
    <div class="container">
        <h3 style="margin-bottom:50px;">List your vehicle</h3>
        {% if request.user.person.can_rent != True %}
            <div class="panel panel-default vehicle-type-panel">
                <div class="panel-heading">Licence need to be verified</div>
                <div class="panel-body">
                    <h2 class="text-center" style="color:tomato">Your are not verified yet. You cann't list any vehicle right now.</h2>
                </div>
            </div>
        {% else %}
        <form action="/new" method="POST" class="form-horizontal" enctype="multipart/form-data">
            {% if not step %}
            <div class="panel panel-default vehicle-type-panel">
                <div class="panel-heading">Select Vehicle Type</div>
                <div class="panel-body">
                    <div class="row">
                        {% for body in bodyTypes %} {% if forloop.first or forloop.counter|modulo:3 == 0 %} {% endif %}
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 radio">
                            <label>
                                <input type="radio" name="body" value="{{ body.id }}">
                                <div>
                                    <img src="static/images/{{ body.image }}" alt="">
                                    <div class="caption">
                                        <h4>{{ body.name }}</h4>
                                    </div>
                                </div>
                                </input>
                            </label>
                        </div>
                        {% if forloop.counter|modulo:3 == 0 or forloop.last %} {% endif %} {% endfor %} {% csrf_token %}
                    </div>
                    <div class="actions">
                        <button type="submit" class="btn custom-button btn-block" id="fiftypixel-height">Continue</button>
                    </div>
                </div>
            </div>
            {% elif step == 'STEPONE' %}
            <div class="panel panel-default vehicle-description-panel">
                <div class="panel-heading">Vehicle Description</div>
                <div class="panel-body">
                    <div class="form-group {% if l %}has-error{% endif %}">
                        <label for="location" class="col-sm-2 control-label">Location</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="l" id="location" placeholder="Location of Vehicle" {% if prepopulate.l %}value="{{ prepopulate.l }}" {% endif %} required autofocus style="border-radius: 2px;">
                            <input type="hidden" id="street_number" name="street_number"/>
                            <input type="hidden" id="route" name="route"/>
                            <input type="hidden" id="locality" name="locality" />
                            <input type="hidden" id="country" name="country" />
                            <input type="hidden" id="postal_code" name="postal_code"/>
                        </div>
                    </div>
                    <div class="form-group {% if p %}has-error{% endif %}">
                        <label for="price" class="col-sm-2 control-label">Price</label>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <div class="input-group-addon" style="border-radius: 2px;">$</div>
                                <input type="number" class="form-control" name="p" id="price" placeholder="Rent Amount" {% if prepopulate.p %}value="{{ prepopulate.p }}" {% endif %} required style="border-radius: 2px;">
                                <div class="input-group-addon" style="border-radius: 2px;">AUD</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group {% if m %}has-error{% endif %}">
                        <label for="make" class="col-sm-2 control-label">Make</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="make" name="m" style="border-radius: 2px;">
                                {% for make in makes %}
                                <option value="{{ make.name }}">{{ make.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group {% if ml %}has-error{% endif %}">
                        <label for="model" class="col-sm-2 control-label">Model</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="model" name="ml" style="border-radius: 2px;">
                                {% for model in models %}
                                <option value="{{ model.name }}">{{ model.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group {% if y %}has-error{% endif %}">
                        <label for="year" class="col-sm-2 control-label">Licence Plate</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="lpn" id="lpn" placeholder="Licence Plate Number" style="border-radius: 2px;">
                        </div>
                    </div>
                    <div class="form-group {% if y %}has-error{% endif %}">
                        <label for="year" class="col-sm-2 control-label">Year</label>
                        <div class="col-sm-6">
                            <input type="number" class="form-control" name="y" id="year" placeholder="Year of Vehicle" style="border-radius: 2px;">
                        </div>
                    </div>
                    <div class="form-group {% if k %}has-error{% endif %}">
                        <label for="kilometer" class="col-sm-2 control-label">Kilometer</label>
                        <div class="col-sm-6">
                            <input type="number" class="form-control" name="k" id="kilometer" placeholder="Number of Kilometers Driven" style="border-radius: 2px;">
                        </div>
                    </div>
                    <div class="form-group {% if c %}has-error{% endif %}">
                        <label for="colour" class="col-sm-2 control-label">Colour</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="colour" name="c" placeholder="Colour of Vehicle" style="border-radius: 2px;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default vehicle-photo-panel">
                <div class="panel-heading">Upload photos</div>
                <div class="panel-body padding-narrow">
                    <!-- <div class="row">
                      <div class="upload-photo-newlisting">
                        <a href="#" class="thumbnail">
                          <img src="static/images/placeholder.png" alt="">
                        </a>
                        <a href="#" class="thumbnail">
                          <img src="static/images/placeholder.png" alt="">
                        </a>
                        <a href="#" class="thumbnail">
                          <img src="static/images/placeholder.png" alt="">
                        </a>
                        <a href="#" class="thumbnail">
                          <img src="static/images/placeholder.png" alt="">
                        </a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="upload-photo-newlisting">
                        <a href="#" class="thumbnail">
                          <img src="static/images/placeholder.png" alt="">
                        </a>
                        <a href="#" class="thumbnail">
                          <img src="static/images/placeholder.png" alt="">
                        </a>
                        <a href="#" class="thumbnail">
                          <img src="static/images/placeholder.png" alt="">
                        </a>
                        <a href="#" class="thumbnail">
                          <img src="static/images/placeholder.png" alt="">
                        </a>
                      </div>
                    </div>
                    <div class="row text-center">
                      <button class="btn upload-photo-button">Upload Photos</button>
                    </div> -->
                    <input type="file" name="f" multiple="true">
                </div>
            </div>
            <div class="panel panel-default vehicle-additional-details-panel">
                <div class="panel-heading">Describe your Vehicle</div>
                <div class="panel-body">
                    <div class="form-group {% if cm %}has-error{% endif %}">
                        <label for="description" class="col-sm-2 control-label">Summary</label>
                        <div class="col-sm-6">
                            <textarea class="form-control" rows="5" placeholder="Describe your vehicle" id="description" name="cm" style="border-radius: 2px;"></textarea>
                        </div>
                    </div>
                    <div class="form-group {% if t %}has-error{% endif %}">
                        <label for="listing-title" class="col-sm-2 control-label">Title</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="Name your listing" name="t" style="border-radius: 2px;">
                        </div>
                    </div>
                </div>
            </div>
            {% csrf_token %}
            <div class="actions">
                <button type="submit" class="btn custom-button btn-block" id="fiftypixel-height">Continue</button>
            </div>
                {% elif step == 'STEPTWO' %}

{#                <div class="panel panel-default drivers-licence-panel">#}
{#                  <div class="panel-heading">Upload Drivers Licence</div>#}
{#                  <div class="panel-body">#}
{#                    <h3>Front</h3>#}
{#                    <input type="file" name="fd" multiple="false">#}
{##}
{#                    <h3>Back</h3>#}
{#                    <input type="file" name="bd" multiple="false">#}
{#                  </div>#}
{##}
{#                </div>#}
                <div class="panel panel-default insurance-document-panel">
                  <div class="panel-heading">Upload insurance document</div>
                  <div class="panel-body">
                    <p>All vehicles listed must provide the following documents:</p>
                    <ol>
                        <li>Valid 3F Insurance</li>
                        <li>Private Insurance (third-party or comprehensive insurance)</li>
                    </ol>
                    <h3>3F Insurance</h3>
                    <input type="file" name="fi" multiple="yes">
                    <h3>Private Insurance</h3>
                    <input type="file" name="pi" multiple="false">
                </div>
            </div>
            {% csrf_token %}
                <div class="actions">
                    <button type="submit" class="btn custom-button btn-block" id="fiftypixel-height">Continue</button>
                </div>

                {% endif %}
                </form>
        {% endif %}
        </div>
        <script>
              // This example displays an address form, using the autocomplete feature
              // of the Google Places API to help users fill in the information.

              // This example requires the Places library. Include the libraries=places
              // parameter when you first load the API. For example:
              // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

              var placeSearch, autocomplete;
              var componentForm = {
                street_number: 'short_name',
                route: 'long_name',
                locality: 'long_name',
                //administrative_area_level_1: 'short_name',
                country: 'long_name',
                postal_code: 'short_name'
              };

              function initAutocomplete() {
                // Create the autocomplete object, restricting the search to geographical
                // location types.
                autocomplete = new google.maps.places.Autocomplete(
                    /** @type {!HTMLInputElement} */(document.getElementById('location')),
                    {types: ['geocode']});

                // When the user selects an address from the dropdown, populate the address
                // fields in the form.
                autocomplete.addListener('place_changed', fillInAddress);
              }

              function fillInAddress() {
                // Get the place details from the autocomplete object.
                var place = autocomplete.getPlace();

                console.log(place);

                for (var component in componentForm) {
                  document.getElementById(component).value = '';
                  document.getElementById(component).disabled = false;
                }

                // Get each component of the address from the place details
                // and fill the corresponding field on the form.
                for (var i = 0; i < place.address_components.length; i++) {
                  var addressType = place.address_components[i].types[0];
                  if (componentForm[addressType]) {
                    var val = place.address_components[i][componentForm[addressType]];
                    document.getElementById(addressType).value = val;
                  }
                }
              }

              // Bias the autocomplete object to the user's geographical location,
              // as supplied by the browser's 'navigator.geolocation' object.
              function geolocate() {
                if (navigator.geolocation) {
                  navigator.geolocation.getCurrentPosition(function(position) {
                    var geolocation = {
                      lat: position.coords.latitude,
                      lng: position.coords.longitude
                    };
                    var circle = new google.maps.Circle({
                      center: geolocation,
                      radius: position.coords.accuracy
                    });
                    autocomplete.setBounds(circle.getBounds());
                  });
                }
              }
        </script>
        {% include "footer.html" %}
        {% include "footer_scripts.html" %}
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYgZJnLLT3iTGQcaCTd-S3z-V9d-ywors&libraries=places&callback=initAutocomplete"></script>

    </body>
</html>