<!DOCTYPE html>
<html lang="en" style="position: relative; min-height:100%">
    <head>
        {% include "header_scripts.html" %}
        <title>RentUrCar</title>
        </head>

        <body>
            {% include "navbar.html" %}

            <div class="container">
                <h2>{{ title }}</h2>
                <div class="col-md-12">
                <h3>Review Renters Requirements</h3>
                <hr>
                <div class="requirement-disclaimer"><h4>All renters must accept the following requirements to book:</h4></div>
                <div class="requirement-group">
                  <div class="requirement-status-tick"><span class="fa fa-check-circle" style="color: #2F7748;"></span></div>
                  <div class="requirement-name"><p>Requirement 1</p></div>
                </div>
                <div class="requirement-group">
                  <div class="requirement-status-tick"><span class="fa fa-check-circle" style="color: #2F7748;"></span></div>
                  <div class="requirement-name"><p>Requirement 2</p></div>
                </div>
                <div class="requirement-group">
                  <div class="requirement-status-tick"><span class="fa fa-check-circle" style="color: #2F7748;"></span></div>
                  <div class="requirement-name"><p>Requirement 3</p></div>
                </div>
                <div class="requirement-group">
                  <div class="requirement-status-tick"><span class="fa fa-check-circle" style="color: #2F7748;"></span></div>
                  <div class="requirement-name"><p>Requirement 4</p></div>
                </div>
              </div>


              <div class="container">
                <div class="row">
                  <div class="col-sm-6"id="additional-requirement">
                    <label>Add additional requirements</label>
                    <textarea class="form-control" rows="2" placeholder="Type any additional requirements"></textarea>
                    <button class="btn custom-button" id="add-requirement-button" type="submit">Add</button>
                  </div>
                </div>

                <a href="#"><button class="btn custom-button submit-button-requirements">Submit</button></a>

              </div>

            </div>

        {% include "footer.html" %}
        {% include "footer_scripts.html" %}
    </body>
</html>
