{% load tags %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" style="position: relative; min-height:100%">
    <head>
        {% include "header_scripts.html" %}
        <title>SwiftRydes</title>
    </head>

    <body>
        {% include "navbar.html" %}
        <nav class="navbar navbar-default navbar-static-top" id="refine-navbar" style="z-index: 990;">
          <div class="container">
            <form class="navbar-form navbar-search-criteria" method="GET" action="/search">
              <div class="row">
                <div>
                    <input name="q" hidden="hidden">
                </div>
                <div class="col-md-4" style="">
                    <input type="text" class="form-control" name="l" placeholder="Location" id="location" {% if prefill.l %}value="{{ prefill.l }}"{% endif %}>
                    <input type="hidden" id="street_number" name="street_number"/>
                    <input type="hidden" id="route" name="route"/>
                    <input type="hidden" id="locality" name="locality" />
                    <input type="hidden" id="country" name="country" />
                    <input type="hidden" id="postal_code" name="postal_code"/>
                </div>
{#                <div class="col-md-3">#}
{#                  <input type="date" class="form-control" name="d" placeholder="Date" id="date">#}
{#                </div>#}
                <div class="col-md-4">
                  <select class="form-control" name="b" id="body-type">
                      <option value="">body type</option>
                      <option value="sedan">sedan</option>
                      <option value="hatchback">hatchback</option>
                      <option value="sports car">sports car</option>
                      <option value="limousine">limousine</option>
                      <option value="convertable">convertable</option>
                      <option value="van">van</option>
                      <option value="utility">utility</option>
                  </select>
                </div>
                <div class="col-md-1" style="text-align: center;">
                  <button type="submit" class="btn custom-button" role="button" id="fiftypixel-height" style="width: 100%;">Search</button>
                </div>
                <div class="col-md-2">
                  <button class="btn secondary-custom-button" id="fiftypixel-height" type="button" data-toggle="collapse" data-target="#refine-search" aria-expanded="false" aria-controls="refine-search" style="width: 100%;">
                      Advanced Search
                      <span class="caret"></span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </nav>

        <div class="collapse refine-search-collapse-container" id="refine-search">
            <div class="container" style="padding: 0 20px;">
                <form class="form-horizontal" method="GET" action="/search">
                    <div>
                        <input name="q" hidden="hidden">
                    </div>
                    <div>
                        <input name="rf" hidden="hidden">
                    </div>
                    <div>
                        <input name="l" hidden="hidden" {% if prefill.l %}value="{{ prefill.l }}"{% endif %}>
                    </div>
                    <div>
                        <input name="b" hidden="hidden" {% if prefill.b %}value="{{ prefill.b }}"{% endif %}>
                    </div>
{#                    <div>#}
{#                        <input name="d" hidden="hidden" {% if prefill.d %}value="{{ prefill.d }}"{% endif %}>#}
{#                    </div>#}
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label for="" class="control-label">Rent Start</label>
                            <input type="date" class="form-control" name="d" placeholder="Date" id="date">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label for="" class="control-label">Rent End</label>
                            <input type="date" name="de" class="form-control" placeholder="" {% if prefill.de %}value="{{ prefill.de }}"{% endif %}>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="" class="control-label">Price From</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">$</div>
                                        <input type="number" name="pf" class="form-control" id="price-from" placeholder="" {% if prefill.pf %}value="{{ prefill.pf }}"{% endif %}>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label for="" class="control-label">Price To</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">$</div>
                                        <input type="number" name="pt" class="form-control" id="price-to" placeholder="" {% if prefill.pt %}value="{{ prefill.pt }}"{% endif %}>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label for="" class="control-label">Make</label>
                            <select class="form-control" id="make" name="m">
                                <option value=""></option>
                                <option value="Toyota">Toyota</option>
                                <option value="Subaru">Subaru</option>
                                <option value="Honda">Honda</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label for="" class="control-label">Model</label>
                            <select class="form-control" id="model" name="ml">
                                <option value=""></option>
                                <option value="WRX">WRX</option>
                                <option value="Tundra">Tundra</option>
                                <option value="Corolla">Corolla</option>
                                <option value="Land Cruiser">Land Cruiser</option>
                                <option value="Camry">Camry</option>
                                <option value="Highlander">Highlander</option>
                                <option value="RAV4">RAV4</option>
                                <option value="Avalon">Avalon</option>
                                <option value="Accord">Accord</option>
                                <option value="Civic">Civic</option>
                                <option value="Pilot">Pilot</option>
                                <option value="Fit">Fit</option>
                                <option value="Insight">Insight</option>
                                <option value="Legacy">Legacy</option>
                                <option value="Impreza">Impreza</option>
                                <option value="Outback">Outback</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label for="" class="control-label">Year</label>
                            <input type="number" name="y" class="form-control" id="year" placeholder="Year of Vehicle" {% if prefill.y %}value="{{ prefill.y }}"{% endif %}>
                        </div>
                    </div>
{#                    <div class="form-group">#}
{#                        <div class="col-sm-6">#}
{#                            <label for="" class="control-label">Air Conditioning</label>#}
{#                            <select class="form-control" id="air-con" name="a">#}
{#                                <option value="">Yes</option>#}
{#                                <option value="">No</option>#}
{#                            </select>#}
{#                        </div>#}
{#                    </div>#}
                    <div>
                        <button type="submit" class="btn custom-button" id="fiftypixel-height" style="margin-bottom: 10px;">Refine Search</button>
                    </div>
                </form>
            </div>
        </div>


        <div class="container" style="margin-top: 30px; padding: 0 20px;">
            <h2>{{title}}</h2>
            {{ results_count }}
            {% if results_count == 0 %}
            <h4>No cars matched your criteria</h4>
            {% else %}
            <div class="search-result-panel">
              <div class="row">
                {% for result in results %}
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-body search-result-panel" >
                                <a href="/car/{{ result.id }}">
                                    <div class="thumbnail">
                                        <img src="{{ result.vehicle_thumb_photo.photo.url }}">
                                        <div class="caption">
                                            <h4>{{ result.model }}</h4>
                                            <a id="search-review-details"href="/car/{{ result.id }}#reviews-car">
                                                <div class="search-rating-wrapper">
                                                    {% if result.rating %}
                                                    <div class="stars">
                                                        {% for a in 0|roundedrange:result.rating %}
                                                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                        {% endfor %}
                                                        {% for a in result.rating|round|negate|add:5|range:4 %}
                                                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                                        {% endfor %}
                                                    </div>
                                                    <div class="number-reviews">
                                                        <p> - {{ result.numratings }} Reviews</p>
                                                    </div>
                                                    {% else %}
                                                    No rating yet
                                                    {% endif %}
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                  {% endfor %}
              </div>
            </div>
            {% endif %}

            {% for result in related_searches %}
            {% endfor %}


        </div>
        <script>
              // This example displays an address form, using the autocomplete feature
              // of the Google Places API to help users fill in the information.

              // This example requires the Places library. Include the libraries=places
              // parameter when you first load the API. For example:
              // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

              var placeSearch, autocomplete;
              var componentForm = {
                street_number: 'short_name',
                route: 'long_name',
                locality: 'long_name',
                //administrative_area_level_1: 'short_name',
                country: 'long_name',
                postal_code: 'short_name'
              };

              function initAutocomplete() {
                // Create the autocomplete object, restricting the search to geographical
                // location types.
                autocomplete = new google.maps.places.Autocomplete(
                    /** @type {!HTMLInputElement} */(document.getElementById('location')),
                    {types: ['geocode']});

                // When the user selects an address from the dropdown, populate the address
                // fields in the form.
                autocomplete.addListener('place_changed', fillInAddress);
              }

              function fillInAddress() {
                // Get the place details from the autocomplete object.
                var place = autocomplete.getPlace();

                console.log(place);

                for (var component in componentForm) {
                  document.getElementById(component).value = '';
                  document.getElementById(component).disabled = false;
                }

                // Get each component of the address from the place details
                // and fill the corresponding field on the form.
                for (var i = 0; i < place.address_components.length; i++) {
                  var addressType = place.address_components[i].types[0];
                  if (componentForm[addressType]) {
                    var val = place.address_components[i][componentForm[addressType]];
                    document.getElementById(addressType).value = val;
                  }
                }
              }

              // Bias the autocomplete object to the user's geographical location,
              // as supplied by the browser's 'navigator.geolocation' object.
              function geolocate() {
                if (navigator.geolocation) {
                  navigator.geolocation.getCurrentPosition(function(position) {
                    var geolocation = {
                      lat: position.coords.latitude,
                      lng: position.coords.longitude
                    };
                    var circle = new google.maps.Circle({
                      center: geolocation,
                      radius: position.coords.accuracy
                    });
                    autocomplete.setBounds(circle.getBounds());
                  });
                }
              }
        </script>
        {% include "footer.html" %}
        {% include "footer_scripts.html" %}
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYgZJnLLT3iTGQcaCTd-S3z-V9d-ywors&libraries=places&callback=initAutocomplete"></script>
    </body>
</html>
