<!DOCTYPE html>
<html lang="en" style="position: relative; min-height:100%">
    <head>
        {% include "header_scripts.html" %}
        <title>SwiftRydes</title>
    </head>

    <body>
        {% include "navbar.html" %}
        <div class="container">

            {% if not step %}

            <div>

                <form action="/signup/" method="POST" class="form" style="max-width: 400px; margin: 0 auto;" autocomplete="on">
                    <h2 class="form-signin-heading">Please Sign up</h2>
                    <br/>
                    {% csrf_token %}

                    <div class="form-group {% if x %}has-error{% endif %}">
                        <input id="x" type="email" name="x" class="form-control" placeholder="E-mail" {% if prepopulate.x %}value="{{ prepopulate.x }}"{% endif %} required autofocus>
                        {% if x %}
                        <div class="form-control-feedback" style="position: relative; width: auto; text-align: left;">Email address {{ x }}</div>
                        {% endif %}
                    </div>

                    <div class="form-group {% if fn %}has-error{% endif %}">
                        <input id="fn" type="text" name="fn" class="form-control" placeholder="First Name" {% if prepopulate.fn %}value="{{ prepopulate.fn }}"{% endif %} required>
                        {% if fn %}
                        <div class="form-control-feedback" style="position: relative; width: auto; text-align: left;">First name {{ fn }}</div>
                        {% endif %}
                    </div>
                    <div class="form-group {% if ln %}has-error{% endif %}">
                        <input id="ln" type="text" name="ln" class="form-control" placeholder="Last Name" {% if prepopulate.ln %}value="{{ prepopulate.ln }}"{% endif %}>
                    </div>

                    <label for="dob">Birthday</label>

                    <div class="form-group {% if dob %}has-error{% endif %}">
                        <input id="dob" type="date" name="dob" class="form-control" placeholder="YYYY-MM-DD" {% if prepopulate.dob %}value="{{ prepopulate.dob }}"{% endif %} required>
                        {% if dob %}
                        <div class="form-control-feedback" style="position: relative; width: auto; text-align: left;">Date of birth {{ dob }}</div>
                        {% endif %}
                    </div>
                    <!--
                    <div class="form-group {% if ph %}has-error{% endif %}">
                        <input id="ph" type="phone" name="ph" class="form-control" placeholder="Phone number" {% if prepopulate.ph %}value="{{ prepopulate.ph }}"{% endif %}>
                    </div>


                   <input id="y" type="password" name="y" class="form-control" placeholder="Password"/ required> -->
                  <!-- <input id="y2" type="password" name="y2" class="form-control" placeholder="Password Again"/ required> -->

                  <!-- <br /> -->
                  <div class="actions">
                      <button type="submit" class="btn custom-button btn-block" id="fiftypixel-height">Sign Up</button>
                  </div>
                </form>
            </div>

            {% elif step == 'STEPONE' %}

            <div>
                <form action="/signup" method="POST" class="form" style="max-width: 400px; margin:0 auto;" autocomplete="on">
                    <h2 class="form-heading">Address Details</h2>
                    {% csrf_token %}

                    <div class="form-group {% if addr1 %}has-error{% endif %}">
                        <input id="addr1" type="text" name="addr1" class="form-control" placeholder="Address Line 1" {% if prepopulate.addr1 %}value="{{ prepopulate.addr1 }}"{% endif %} required autofocus>
                        {% if addr1 %}
                        <div class="form-control-feedback" style="position: relative; width: auto; text-align: left;">Address lines 1 {{ addr1 }}</div>
                        {% endif %}
                    </div>
                    <div class="form-group {% if sub %}has-error{% endif %}">
                        <input id="sub" type="text" name="sub" class="form-control" placeholder="Suburb" {% if prepopulate.sub %}value="{{ prepopulate.sub }}"{% endif %} required>
                        {% if sub %}
                        <div class="form-control-feedback" style="position: relative; width: auto; text-align: left;">Suburb {{ sub }}</div>
                        {% endif %}
                    </div>
                    <div class="form-group {% if pc %}has-error{% endif %}">
                        <input id="pc" type="text" name="pc" class="form-control" placeholder="Post Code" {% if prepopulate.pc %}value="{{ prepopulate.pc }}" {% endif %} required>
                        {% if pc %}
                        <div class="form-control-feedback" style="position: relative; width: auto; text-align: left;">Post code {{ pc }}</div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <select id="st" class="form-control" name="st">
                            <option>ACT</option>
                            <option>NSW</option>
                            <option>NT</option>
                            <option>QLD</option>
                            <option>SA</option>
                            <option>TAS</option>
                            <option>VIC</option>
                            <option>WA</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select id="c" class="form-control" name="c">
                            <option>Australia</option>
                        </select>
                    </div>

                    <div class="actions">
                        <button type="submit" class="btn custom-button btn-block" id="fiftypixel-height">Continue</button>
                    </div>
                </form>
            </div>

            {% elif step == 'STEPTWO' %}

            <div>
                <form action="/signup" method="POST" class="form" style="max-width: 400px; margin:0 auto;" autocomplete="on">
                    <h2 class="form-heading">Password</h2>
                    {% csrf_token %}
                    <input hidden="True" type="email" name="x" id="x" value="{{ person.user.email }}">

                    <div class="form-group">
                        <input id="y" type="password" name="y" class="form-control" placeholder="Password" required autofocus>
                    </div>
                    <div class="form-group">
                        <input id="y1" type="password" name="y1" class="form-control" placeholder="Password again" required>
                    </div>

                    <div class="form-group">
                      <p>Interested in how we protect your password? <a href="/about/security" target="_blank">Click here for details.</a></p>
                    </div>

                    <div class="actions">
                        <button type="submit" class="btn custom-button btn-block" id="fiftypixel-height">Submit</button>
                    </div>

                </form>
            </div>


            {% endif %}



        </div>

        {% include "footer.html" %}
        {% include "footer_scripts.html" %}
    </body>
</html>
