{% load tags %}
<!DOCTYPE html>
<html lang="en" style="position: relative; min-height:100%">

<head>
    {% include "header_scripts.html" %}
    <title>RentUrCar</title>
</head>

<body>
    {% include "navbar.html" %} {% include "user/navbar.html" with active='account' %}
    <div class="container account-container">
        {% include "user/account/navbar.html" with active='profile' %}
        <div class="col-md-8 col-sm-8 edit-link-details">
            <div class="panel panel-default account-panel">
                <div class="panel-body">
                    <form action="/user/account" method="POST" class="form-horizontal">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="firstname-input" class="col-sm-2 control-label">First Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="fn" id="firstname-input" placeholder="First Name" {% if user.person.firstName %}value="{{ user.person.firstName }}" {% endif %}>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastname-input" class="col-sm-2 control-label">Last Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="ln" id="lastname-input" placeholder="Last Name" {% if user.person.lastName %}value="{{ user.person.lastName }}" {% endif %}>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastname-input" class="col-sm-2 control-label">Display Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="dn" id="displayname-input" placeholder="Display Name" {% if user.person.displayName %}value="{{ user.person.displayName }}" {% endif %}>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="gender-input" class="col-sm-2 control-label">Gender</label>
                            <div class="col-sm-10">
                                <select id="gender" name="g" class="form-control">
                                    <option value="none" {% if user.person.gender == 'none' %}selected{% endif %}>Prefer not to say</option>
                                    <option value="male" {% if user.person.gender == 'male' %}selected{% endif %}>Male</option>
                                    <option value="female" {% if user.person.gender == 'female' %}selected{% endif %}>Female</option>
                                    <option value="other" {% if user.person.gender == 'other' %}selected{% endif %}>Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="birth-date-input" class="col-sm-2 control-label">Birth Date</label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control" name="dob" id="birth-date-input" placeholder="yyyy-mm-dd" {% if user.person.dateOfBirth %}value="{{ user.person.dateOfBirth|dateformat }}" {% endif %}>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email-input" class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" name="x" id="email-input" placeholder="Email Address" value="{{ user.email }}">
                            </div>
                        </div>
                        {% if user.newEmail %}
                        <div class="form-group">
                            <label for="email-input" class="col-sm-2 control-label">Email (pending verification)</label>
                            <div class="col-sm-10">
                                <label type="email" class="form-control">{{ user.newEmail }}</label>
                                <!-- TODO: Put a message in about why email address are confirmed, link to password security page? -->
                                <!-- TODO: Make password security page more generic, possibly. -->
                                <!-- TODO: Allow user to cancel address update. -->
                            </div>
                        </div>
                        {% endif %}
                        <div class="form-group">
                            <label for="telephone-input" class="col-sm-2 control-label">Phone</label>
                            <div class="col-sm-10">
                                <input type="tel" class="form-control" name="t" id="telephone-input" placeholder="Phone" {% if user.person.phone %}value="{{ user.person.phone }}" {% endif %}>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address-input" class="col-sm-2 control-label">Address</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="addr1" id="address-input" placeholder="Address" {% if address %}value="{{ address }}" {% endif %}>
                                {% if user.person.address.lineOne %}
                                    <input type="hidden" name="lineOne" value="{{ user.person.address.lineOne }}"/>
                                {% endif %}
                                <input type="hidden" id="street_number" name="street_number"/>
                                <input type="hidden" id="route" name="route"/>
                                <input type="hidden" id="locality" name="locality" value="{{ user.person.address.lineTwo }}"/>
                                <input type="hidden" id="country" name="country" value="{{ user.person.address.country }}"/>
                                <input type="hidden" id="postal_code" name="postal_code" value="{{ user.person.address.postCode }}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <button type="submit" class="btn custom-button">Save</button>
                                <button type="submit" class="btn cancel-button">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
              // This example displays an address form, using the autocomplete feature
              // of the Google Places API to help users fill in the information.

              // This example requires the Places library. Include the libraries=places
              // parameter when you first load the API. For example:
              // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

              var placeSearch, autocomplete;
              var componentForm = {
                street_number: 'short_name',
                route: 'long_name',
                locality: 'long_name',
                //administrative_area_level_1: 'short_name',
                country: 'long_name',
                postal_code: 'short_name'
              };

              function initAutocomplete() {
                // Create the autocomplete object, restricting the search to geographical
                // location types.
                autocomplete = new google.maps.places.Autocomplete(
                    /** @type {!HTMLInputElement} */(document.getElementById('address-input')),
                    {types: ['geocode']});

                // When the user selects an address from the dropdown, populate the address
                // fields in the form.
                autocomplete.addListener('place_changed', fillInAddress);
              }

              function fillInAddress() {
                // Get the place details from the autocomplete object.
                var place = autocomplete.getPlace();

                console.log(place);

                for (var component in componentForm) {
                  document.getElementById(component).value = '';
                  document.getElementById(component).disabled = false;
                }

                // Get each component of the address from the place details
                // and fill the corresponding field on the form.
                for (var i = 0; i < place.address_components.length; i++) {
                  var addressType = place.address_components[i].types[0];
                  if (componentForm[addressType]) {
                    var val = place.address_components[i][componentForm[addressType]];
                    document.getElementById(addressType).value = val;
                  }
                }
              }

              // Bias the autocomplete object to the user's geographical location,
              // as supplied by the browser's 'navigator.geolocation' object.
              function geolocate() {
                if (navigator.geolocation) {
                  navigator.geolocation.getCurrentPosition(function(position) {
                    var geolocation = {
                      lat: position.coords.latitude,
                      lng: position.coords.longitude
                    };
                    var circle = new google.maps.Circle({
                      center: geolocation,
                      radius: position.coords.accuracy
                    });
                    autocomplete.setBounds(circle.getBounds());
                  });
                }
              }
     </script>
    {% include "footer.html" %} {% include "footer_scripts.html" %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYgZJnLLT3iTGQcaCTd-S3z-V9d-ywors&libraries=places&callback=initAutocomplete"></script>

</body>

</html>