<!DOCTYPE html>
<html lang="en" style="position: relative; min-height:100%">

<head>
    {% include "header_scripts.html" %}
    <title>SwiftRydes</title>
</head>

<body>
    {% include "navbar.html" %} {% include "user/navbar.html" with active='account' %}
    <div class="container account-container">
        {% include "user/account/navbar.html" with active='licence' %}
        {% if licences %}
        <div class="col-md-8 col-sm-8">
            <div class="panel panel-default driver-uploaded-licence-panel">
                <div class="panel-heading">Uploaded Licence</div>
                <div class="panel-body">
                    {% for licence in licences %}
                    <img src="{{ licence.document.url }}" class="img" style="height: 150px; width: 150px; object-fit: cover" /> {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-8 col-sm-8">
                <div class="panel panel-default drivers-licence-panel">
                    <div class="panel-heading">Upload Drivers Licence</div>
                    <div class="panel-body">
                        {% if messages %}
                        <div class="messages" style="padding: 0 5px">
                            {% for message in messages %}
                            <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible" {% endif %}>
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> {{ message }}
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <h3>Front</h3>
                        <input type="file" name="fd" multiple="false">
                        <h3>Back</h3>
                        <input type="file" name="bd" multiple="false">
                        <h4>Licence Number</h4>
                        <input type="text" name="ln" />
                        <h4>Licence State</h4>
                        <input type="text" name="ls" />
                        <h4>Country</h4>
                        <input type="text" name="c" />
                        <h4>Expiry Date</h4>
                        <input type="date" name="ed" />
                        <br/>
                        <input type="submit" value="Upload" name="submit" class="btn custom-button licence-submit-button">
                    </div>
                </div>
            </div>
        </form>
    </div>
    {% include "footer.html" %} {% include "footer_scripts.html" %}
</body>

</html>