<div class="col-md-4 col-sm-4" id="account-side-navbar-wrapper">
    <ul class="nav nav-pills nav-stacked" id="account-side-navbar">
        <li {% if active == 'profile' %} class="active" {% endif %}>
            <a id="edit-profile"href="/user/account">Edit Profile</a>
        </li>
        <li {% if active == 'picture' %} class="active" {% endif %}>
            <a id="profile-photo"href="/user/account/picture">Profile Photo</a>
        </li>
        <li {% if active == 'licence' %} class="active" {% endif %}>
            <a id="drivers-licence"href="/user/account/licence">Driver's Licence</a>
        </li>
        <li {% if active == 'payment' %} class="active" {% endif %}>
            <a id="payment-method" href="/user/account/payment">Payment Method</a>
        </li>
        <li {% if active == 'payout' %} class="active" {% endif %}>
            <a id="payout-details" href="/user/account/payout">Payout Details</a>
        </li>
        <li {% if active == 'security' %} class="active" {% endif %}>
            <a id="security" href="/user/account/security">Change password</a>
        </li>
{#        <!--<li {% if active == 'cancel' %} class="active" {% endif %}>#}
{#            <a id="cancel-my-acccount" href="/user/account/cancel" style="color: white; background-color: #BE182D;">Cancel my account</a>#}
{#        </li> -->#}
    </ul>
</div>
