{% load tags %}
<!DOCTYPE html>
<html lang="en" style="position: relative; min-height:100%">
    <head>
        {% include "header_scripts.html" %}
        <title>SwiftRydes</title>
    </head>

    <body>
        {% include "navbar.html" %}
        {% include "user/navbar.html" with active='account' %}


        <div class="container account-container">
            {% include "user/account/navbar.html" with active='payment' %}

            <div class="col-md-8 col-sm-8">
                <div class="panel panel-default account-panel">
                    <div class="panel-body">
                      <form class="form-horizontal">
                          <div class="form-group">
                              <label for="ccholder-input" class="col-sm-3 control-label">Credit Card Holder</label>
                              <div class="col-sm-9">
                                  <input type="text" class="form-control" id="ccholder-input" placeholder="">
                              </div>
                          </div>

                          <div class="form-group">
                              <label for="ccnumber-input" class="col-sm-3 control-label">Credit Card Number</label>
                              <div class="col-sm-9">
                                  <input type="number" class="form-control" id="ccnumber-input" placeholder="" value="">
                              </div>
                          </div>

                          <div class="form-group">
                              <label for="securitynumber-input" class="col-sm-3 control-label">Security number</label>
                              <div class="col-sm-9">
                                  <input type="number" class="form-control" id="securitynumber-input" placeholder="" value="">
                              </div>
                          </div>

                          <div class="form-group">
                              <label for="expiry-input" class="col-sm-3 control-label">Expiry date</label>
                              <div class="col-sm-9">
                                  <input type="date" class="form-control" id="expiry-input" placeholder="" value="">
                              </div>
                          </div>


                          <div class="form-group">
                              <div class="col-sm-offset-3 col-sm-9">
                                  <button type="submit" class="btn custom-button">Save</button>
                              </div>
                          </div>
                      </form>
                    </div>
                </div>
            </div>
        </div>

        {% include "footer.html" %}
        {% include "footer_scripts.html" %}

    </body>
</html>
