{% load tags %}
<!DOCTYPE html>
<html lang="en" style="position: relative; min-height:100%">
    <head>
        {% include "header_scripts.html" %}
        <title>SwiftRydes</title>
    </head>

    <body>
        {% include "navbar.html" %}
        {% include "user/navbar.html" with active='account' %}


        <div class="container account-container">
            {% include "user/account/navbar.html" with active='payout' %}

            <div class="col-md-8 col-sm-8">
                <div class="panel panel-default account-panel">
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="accountname-input" class="col-sm-3 control-label">Account Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="accountname-input" placeholder="">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="bsb-input" class="col-sm-3 control-label">BSB</label>
                                <div class="col-sm-9">
                                    <input type="number" class="form-control" id="bsb-input" placeholder="" value="">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="accountnumber-input" class="col-sm-3 control-label">Account Number</label>
                                <div class="col-sm-9">
                                    <input type="number" class="form-control" id="accountnumber-input" placeholder="" value="">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button type="submit" class="btn custom-button">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% include "footer.html" %}
        {% include "footer_scripts.html" %}

    </body>
</html>
