<!DOCTYPE html>
<html lang="en" style="position: relative; min-height:100%">
    <head>
        {% include "header_scripts.html" %}
        <title>RentUrCar</title>
    </head>

    <body>
        {% include "navbar.html" %}
        {% include "user/navbar.html" with active='account' %}


        <div class="container payment-method-container">
            {% include "user/account/navbar.html" with active='payout' %}

            <div class="col-md-8 col-sm-8">
                <div class="panel panel-default custom-panel">
                    <div class="panel-body">
                      <div class="table-responsive">
                        <table class="table">
                        <thead>
                          <th></th>
                          <th>Account Name</th>
                          <th>BSB</th>
                          <th>Account Number Number</th>
                          <th>Delete?</th>
                        </thead>
                        <tbody>
                          <tr>
                            <td><a href="">Edit</a></td>
                            <td>Donald Trump</td>
                            <td>1231</td>
                            <td>8234213418</td>
                            <td><button type="button" name="button" class="btn btn-xs" style="color: white; background-color: #BE182D;">Delete</button></td>
                          </tr>
                        </tbody>
                      </table>
                      </div>
                      <a href="" class="btn custom-button" role="button">Add new account</a>
                    </div>
                </div>
            </div>
        </div>

        {% include "footer.html" %}
        {% include "footer_scripts.html" %}

        <script>
          $(document).ready(function() {
            var columnHeight = $('.credit-card-panel').height();
            $('.add-credit-car-panel').height(columnHeight);
          })

        </script>

    </body>
</html>
