<!DOCTYPE html>
<html lang="en" style="position: relative; min-height:100%">

<head>
    {% include "header_scripts.html" %}
    <title>SwiftRydes</title>
</head>

<body>
    {% include "navbar.html" %} {% include "user/navbar.html" with active='account' %}
    <div class="container account-container">
        {% include "user/account/navbar.html" with active='picture' %}
        <div class="col-md-8 col-sm-8">
            <div class="panel panel-default custom-panel">
                <div class="panel-body" id="change-profile-pic-panel">
                    <div class="row">
                        <div class="col-sm-6 col-xs-6 driver-picture-upload">
                            {% if user.person.profilePicture %}
                            <img class="img-circle thumbnail" src="{{ user.person.profilePicture.url }}" alt="" style="height: 150px;"> {% else %}
                            <img class="img-circle thumbnail" src="/static/images/man.png" alt="" style="height: 150px;"> {% endif %}
                        </div>
                        <div class="col-sm-6 col-xs-6 driver-picture-upload">
                            <form action="/user/account/picture" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="file" name="fileToUpload" id="fileToUpload">
                                <input type="submit" value="Upload New Photo" name="submit" class="btn custom-button">
                            </form>
                        </div>
                    </div>
                    <!-- <button class="btn custom-button btn-lg" type="button" style="width: 175px;">Take Photo</button> -->
                </div>
            </div>
        </div>
    </div>
    {% include "footer.html" %} {% include "footer_scripts.html" %}
</body>

</html>