{% load tags %}
<!DOCTYPE html>
<html lang="en" style="position: relative; min-height:100%">

<head>
    {% include "header_scripts.html" %}
    <title>RentUrCar</title>
</head>

<body>
    {% include "navbar.html" %} {% include "user/navbar.html" with active='account' %}
    <div class="container account-container">
        {% include "user/account/navbar.html" with active='security' %}
        <div class="col-md-8 col-sm-8 edit-link-details">
            <div class="panel panel-default account-panel">
                {% if messages %}
                <div class="messages" style="padding: 0 5px">
                    {% for message in messages %}
                    <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible" {% endif %}>
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="panel-body">
                    <form class="form-horizontal" action="/user/account/security/change-password" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="y" class="col-sm-3 control-label">Old Password</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="y" name="old_password" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="new-y" class="col-sm-3 control-label">New Password</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="new-y" name="new_password" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="c-y" class="col-sm-3 control-label">Confirm Password</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="c-y" name="confirm_password" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-10">
                                <button type="submit" class="btn custom-button">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% include "footer.html" %} {% include "footer_scripts.html" %}
</body>

</html>