{% extends 'layout/main.html' %}
{% block content %}
    <div class="col-lg-12">
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-header">
                    Number of views - Car
                </h2>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Licence plate</th>
                    <th>Make</th>
                    <th>Model</th>
                    <th>year</th>
                    <th>Number of Views</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for car in vehicles %}
                    <tr>
                        <td>{{ car.id }}</td>
                        <td>{{ car.licensePlate }}</td>
                        <td>{{ car.make }}</td>
                        <td>{{ car.model }}</td>
                        <td>{{ car.year }}</td>
                        <td>{{ car.number_of_views }}</td>
                        <td>
                            <a href="/admin/car/details/{{ car.id }}">
                                <i class="fa fa-car"></i>
                            </a>
{#                            <a href="/admin/delete-car/{{ car.id }}">#}
{#                                <i style="color:red;" class="fa fa-trash"></i>#}
{#                            </a>#}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}