{% extends 'layout/main.html' %}
{% block content %}
    <div class="col-lg-12">
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-header">
                    Daily Update - Today
                </h2>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-car fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ registered_car }}</div>
                            <div> Cars Registered</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="col-lg-4 col-md-4">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-user fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ registered_user }}</div>
                            <div> Users Registered</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="col-lg-4 col-md-4">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-car fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ booking_confirmed }}</div>
                            <div> Booking Confirmed</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}